.cssui-usercard{
    box-sizing: border-box;
    display: flex;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    background-color: #fff;  
    margin: 2rem auto 1rem;
    position: relative;
    z-index: 5;
  }
  
  @media screen and (min-width: 641px){
  
    .cssui-usercard{
      width: 38rem;
    }
  }
  
  @media screen and (max-width: 640px){
  
    .cssui-usercard{
      width: 90%;
    }
  }
  
  .cssui-usercard__body{
    padding-bottom: 2rem;
    flex-grow: 2;
    color: #000;
  }
  
  .cssui-usercard__header{
    padding: 3rem 5% 2rem;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, #3F51B5, #041886);
    color: #fff;  
  }
  
  .cssui-usercard__avatar{
    border-radius: 50%;
    border: 4px solid #fff;
    box-sizing: border-box;
    margin-right: 4%;
    width: 10rem;
    height: 10rem;
  }
  
  .cssui-usercard__name{
    font-size: 3.5rem;
    font-weight: 300;
    margin-top: 0;  
    margin-bottom: 0;  
  }
  
  .cssui-usercard__name-label{
    font-weight: 700;
  }
  
  .cssui-usercard__post{
    display: block;
  }
  
  .cssui-usercard__title{
    padding: 0 5% 1.5rem;
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: 300;
    color: #fff;  
    background-color: #041886;  
  }
  
  .cssui-stats{
    box-sizing: border-box;
    font-size: 1.4rem;
  }
  
  .cssui-stats__name, .cssui-stats__value{
    display: block;
    word-break: break-all;
  }
  
  .cssui-stats__value{
    text-decoration: none;
    color: inherit;
    margin-top: .2em;
  }
  
  .cssui-usercard__stats{
    padding-right: 4%;
    padding-left: 4%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .cssui-usercard__stats-item{
    width: 48%;
    margin-top: 3rem;
  }
  
  .cssui-usercard__stats-item:first-child,
  .cssui-usercard__stats-item:nth-child(2){
    margin-top: 0;
  }
  
  .cssui-usercard__stats-info{
    margin-top: .7rem;
  }
  
  .cssui-usercard__stats-name{
    font-weight: 700;
    font-size: 1.6rem;
  }
  
 
  .cssui-icon{
    width: 2em;
    height: 2em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  
  .cssui-social{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
  }
  
  .cssui-social__name{
    position: absolute;
    left: -9999px;
  }
  
  .cssui-usercard__social{
    margin-right: 1.6rem;
    font-size: .8rem;
  }
  
  .cssui-usercard__social:last-child{
    margin-right: 0;
  }
  
  .cssui-slider{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 32rem;
  }
  
  .cssui-slider__slides{
    height: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform .4s;  
  }
  
  .cssui-slider__slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;  
  }
  
  .cssui-slider__slide:nth-of-type(1){
    left: 0;
  }
  
  .cssui-slider__slide:nth-of-type(2){
    left: 100%;
  }
  
  .cssui-slider__slide:nth-of-type(3){
    left: 200%;
  }
  
  .cssui-slider__control{
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    text-indent: -9999px;
    position: absolute;
    z-index: 3;
  }
  
  .cssui-usercard__switch{
    position: absolute;
    top: 0;
    left: -9999px;
  }
  
  .cssui-slider__switch:nth-of-type(1):checked ~ .cssui-slider__slides{
    transform: translate3d(0%, 0, 0);
  }
  
  .cssui-slider__switch:nth-of-type(2):checked ~ .cssui-slider__slides{
    transform: translate3d(-100%, 0, 0);
  }
  
  .cssui-slider__switch:nth-of-type(3):checked ~ .cssui-slider__slides{
    transform: translate3d(-200%, 0, 0);
  }
  
  .cssui-usercard__switch:checked + .cssui-slider__control:before{
    transform: scale(0.7) translateZ(0);
  }
  
  .cssui-usercard__control{
    border: 3px solid #3F51B5;
    overflow: hidden;
    position: absolute;
    margin-left: -.75rem;
    bottom: 1rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(0);
  }
  
  .cssui-usercard__control:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0) translateZ(0);
    background-color: #3F51B5;
    transition: transform .2s ease-out;
  }
  
  .cssui-usercard__control:nth-of-type(1){
    left: 40%;
  }
  
  .cssui-usercard__control:nth-of-type(2){
    left: 50%;
  }
  
  .cssui-usercard__control:nth-of-type(3){
    left: 60%;
  }
  
  /*
  * demo styles
  */
  
  @media screen and (min-width: 981px){
  
    html{
      font-size: 62.5%;
    }
  }
  
  @media screen and (min-width: 641px) and (max-width: 980px){
  
    html{
      font-size: 9px;
    }
  }
  
  @media screen and (max-width: 640px){
  
    html{
      font-size: 8px;
    }
  }
  
  body{
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.6rem;
    color: #fff;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(29deg, #512DA8 50%, #673AB7 50%);
  }
  
  a{
    color: inherit;
    text-decoration: none;
  }
  
  
  
  @media screen and (max-width: 640px){
  
    
  }
  
  
  
  .melnik909{
    margin-left: 2rem;
  }
  
  /* loading icons */
  
  .icon-earth{
    background-image: url("https://stas-melnikov.ru/demo-icons/capital-letter-colored.svg");
  }
  
  .icon-location{
    background-image: url("https://stas-melnikov.ru/demo-icons/location-colored.svg");
  }
  
  .icon-calendar{
    background-image: url("https://stas-melnikov.ru/demo-icons/calendar-colored.svg");
  }
  
  .icon-man-woman{
    background-image: url("https://stas-melnikov.ru/demo-icons/family-colored.svg");
  }
  
  .icon-twitter{
    background-image: url("https://stas-melnikov.ru/demo-icons/twitter-white.svg");
  }
  
  .icon-linkedin{
    background-image: url("https://stas-melnikov.ru/demo-icons/linkedin-white.svg");
  }
  
  .icon-codepen{
    background-image: url("https://stas-melnikov.ru/demo-icons/codepen-white.svg");
  }
  
  .icon-html{
    background-image: url("https://stas-melnikov.ru/demo-icons/html5-colored.svg");
  }
  
  .icon-angular{
    background-image: url("https://stas-melnikov.ru/demo-icons/angular-colored.svg");
  }
  
  .icon-vue{
    background-image: url("https://stas-melnikov.ru/demo-icons/vue-colored.svg");
  }
  
  .icon-js{
    background-image: url("https://stas-melnikov.ru/demo-icons/server-js-colored.svg");
  }
  
  .icon-email{
    background-image: url("https://stas-melnikov.ru/demo-icons/mail-colored.svg");
  }
  
  .icon-phone{
    background-image: url("https://stas-melnikov.ru/demo-icons/iphone-colored.svg");
  }
  
  .icon-whatsapp{
    background-image: url("https://stas-melnikov.ru/demo-icons/whatsapp-colored.svg");
  }
  
  .icon-skype{
    background-image: url("https://stas-melnikov.ru/demo-icons/skype-colored.svg");
  }