@charset "UTF-8";
/*لون خلفية السيفي*/
/*لون خلفية الاطار الذي على الصورة الشخصية*/
/*لون خلفية قاعدة الصورة في حال لم تكن موجودة*/
/*لون خلفية القسم الاول من الهيدر من اليسار*/
/*لون خلفية القسم الثاني من الهيدر من اليسار*/
/*لون خلفية القسم الثالث من الهيدر من اليسار*/
/*لون خلفية القسم الرابع من الهيدر من اليسار*/
/*اللون الخلفي لـ مستطيل المهارات و نجوم اللغات*/
/*لون الخطوط الاول*/
/*لون الخطوط الثاني*/
/**************************************************/
/*التحكم بـ نوع الخطوط لـ العناوين*/
/*التحكم بـ نوع الخطوط للنصوص*/
/*التحكم بـ بادينغ الاقسام عند زيادة الاحرف*/
/*التحكم بـ مارجن الاقسام عند زيادة الاحرف*/
/**************************************************/
/*التحكم بـ الصورة الشخصية الخاصة بك*/
/*التحكم بـ الصورة الخاصة بـ القوائم*/
/**************************************************/
/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/
/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/
/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/
/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/
/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/
/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/
/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/
/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/
/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/
/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/
/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/
/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/
/**************************************************/
/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/
/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/
/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/
/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/
/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/
/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/
/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/
/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/
/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/
/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/
/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/
/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/
body {
  padding: 0;
  margin: 0;
  background-color: #efefef; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#backcolor {
  color: #cfcdce; }

.responsive {
  width: 660px;
  margin: 0 auto; }

/*قاعدة السيفي*/
.cv-base {
  width: 800px;
  /* height: 925px; */
  margin: 20px auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 12px -4px #000;
  -moz-box-shadow: 0 0 12px -4px #000;
  box-shadow: 0 0 12px -4px #000;
  position: relative;
  overflow: hidden;
  margin-top: 150px;
 }



.cv-base::after{
  content: '';
    position: absolute;
    width: 0;
    border-color: #333 #333 #fff #fff;
    border-style: solid;
    border-width: 0px 0px 20px 20px;
    right: 0;
    bottom: 0;
    box-shadow: -2px 0 21px #111;
}
/* corner */
    
/* .cv-base::after {
  content: '';
  position: absolute;
  width: 0;
  border-color: #333 #333 #a90101 #a90101;
  border-style: solid;
  border-width: 20px;
  top: 0;
  right: 0;
  box-shadow: -2px 0 21px #111;
} */

/* .cv-base::after {
content:"";
	float:right;
	border-width:0px 20px 20px 0px;
	border-style:solid;
  border-color:#080 #FFF;
  right: 0;
  bottom: 0;
  box-shadow: -2px 0 21px #111;
} */


/*هيدر السيفي*/
.cv-base header {
  width: 100%;
  padding: 32px 0 25px 0;
  background-color: transparent;
  overflow: hidden; }

/*الجزء العلوي من الهيدر و الذي يتضمن الصورة و الاسم و النبذة*/
.cv-base header .head-top {
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  overflow: hidden; }

/*الصورة الشخصية*/
.cv-base header .head-top .image-left {
  float: left;
  width: 160px;
  height: 160px;
  margin-right: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #f3c3d1;
  position: relative;
  overflow: hidden; }

.cv-base header .head-top .image-left .this-image {
  width: 140px;
  height: 140px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../images/course-1.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 10px; }

/*نهاية الصورة الشخصية*/
/**************************************************/
/*الاسم و النبذة*/
.cv-base header .head-top .words-right {
  float: right;
  width: 479px;
  background-color: transparent;
  overflow: hidden; }

.cv-base header .head-top .words-right h3 {
  padding: 24px 0 0 0;
  margin: 0;
  text-transform: capitalize;
  font-family: "Grand Hotel", cursive;
  font-size: 29px;
  color: #7cc0c9; }

.cv-base header .head-top .words-right p {
  color: #5f5f5f; }

.cv-base header .head-top .words-right p:first-of-type {
  width: 431px;
  padding: 0 0 4px 0;
  margin: 1px 0 7px 0;
  border-bottom: 2px solid #f3c3d1;
  text-transform: uppercase;
  font-family: "Khula", sans-serif;
  font-size: 15px; }

.cv-base header .head-top .words-right p:last-of-type {
  height: 69px;
  padding: 0 10px 0 0;
  margin: 0 0 0 0;
  overflow: hidden;
  line-height: 23px;
  font-family: "Khula", sans-serif;
  font-size: 14px; }

/*نهاية الاسم و النبذة*/
/*نهاية الجزء العلوي من الهيدر و الذي يتضمن الصورة و الاسم و النبذة*/
/**********************************************************************/
/*الجزء السفلي من الهيدر و الذي يتضمن وسائل التواص*/
.cv-base header nav {
  width: 100%;
  background-color: transparent;
  overflow: hidden; }

.cv-base header nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.cv-base header nav ul li {
  float: left;
  padding: 15px 27px 11px 26px;
  margin-right: 14px;
  position: relative; }

/*تنسيقات الاسهم اليمينة و اليسارية*/
.cv-base header nav ul li:before, ul li:after {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-width: 23px 10px;
  position: absolute; }

.cv-base header nav ul #head-color01:before {
  border: 0; }

.cv-base header nav ul li:before {
  top: 0px;
  left: -9px; }

.cv-base header nav ul li:after {
  top: 0px;
  left: 100%; }

/*نهاية تنسيقات الاسهم اليمينة و اليسارية*/
/**************************************************/
/*الايقونات و المعلومات*/
.cv-base header nav ul li i {
  float: left;
  padding-right: 7px;
  font-size: 18px;
  color: white; }

.cv-base header nav ul li p {
  float: left;
  padding: 3px 0 0 0;
  margin: 0;
  text-transform: capitalize;
  font-family: "Khula", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white; }

/*نهاية الايقونات و المعلومات*/
/**************************************************/
/*التحكم بـ الوان خلفيات المعلومات*/
.cv-base header nav ul #head-color01 {
  background-color: #c5adc7; }

.cv-base header nav ul #head-color02 {
  background-color: #ebb3be; }

.cv-base header nav ul #head-color03 {
  background-color: #fad6b6; }

.cv-base header nav ul #head-color04 {
  background-color: #c1e2eb; }

/*نهاية التحكم بـ الوان خلفيات المعلومات*/
/**************************************************/
/*التحكم بـ الوان الاسهم اليمينة*/
.cv-base header nav ul #head-color02:before {
  border-top-color: #ebb3be;
  border-right-color: #ebb3be;
  border-bottom-color: #ebb3be;
  border-left-color: transparent; }

.cv-base header nav ul #head-color03:before {
  border-top-color: #fad6b6;
  border-right-color: #fad6b6;
  border-bottom-color: #fad6b6;
  border-left-color: transparent; }

.cv-base header nav ul #head-color04:before {
  border-top-color: #c1e2eb;
  border-right-color: #c1e2eb;
  border-bottom-color: #c1e2eb;
  border-left-color: transparent; }

/*نهاية التحكم بـ الوان الاسهم اليمينة*/
/**************************************************/
/*التحكم بـ الوان الاسهم اليسارية*/
.cv-base header nav ul #head-color01:after {
  border-left-color: #c5adc7; }

.cv-base header nav ul #head-color02:after {
  border-left-color: #ebb3be; }

.cv-base header nav ul #head-color03:after {
  border-left-color: #fad6b6; }

.cv-base header nav ul #head-color04:after {
  border-left-color: #c1e2eb; }

/*نهاية التحكم بـ الوان الاسهم اليسارية*/
/*نهاية الجزء السفلي من الهيدر و الذي يتضمن وسائل التواص*/
/*نهاية هيدر السيفي*/
/**************************************************************************************************/
/*مجسم السيفي*/
.cv-base section {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden; }

/*الجانب الايسر و الذي يتضمن نبذة و لغات محكية و هوايات*/
.cv-base section aside {
  float: left;
  width: 50%;
  height: 100%;
  background-color: transparent;
  overflow: hidden; }

/*تنسيقات متكررة للاقسام الثلاثة*/
/**************************************************/
/*تنسيق قاعدة الاقسام الثلاثة*/
.cv-base section aside .aside-parts {
  width: 100%;
  padding-right: 17px;
  margin-bottom: 10px;
  background-color: transparent;
  overflow: hidden; }

/*نهاية تنسيق قاعدة الاقسام الثلاثة*/
/**************************************************/
/*تنسيق عنوان الاقسام الثلاثة*/
.cv-base section aside .aside-parts h3 {
  width: 192px;
  padding: 0 0 8px 0;
  margin: 0;
  text-transform: capitalize;
  font-family: "Grand Hotel", cursive;
  font-weight: 700;
  font-size: 29px;
  color: #7cc0c9; }

/*نهاية تنسيق عنوان الاقسام الثلاثة*/
/**************************************************/
/*تنسيقات القوائم*/
.cv-base section aside .aside-parts ul {
  padding: 0 0 0 21px;
  margin: 0 0 0 0;
  list-style-image: url("../images/list.png"); }

.cv-base section aside .aside-parts ul li {
  width: 100%;
  padding-bottom: 1px; }

.cv-base section aside .aside-parts ul li p {
  padding: 0;
  margin: 0;
  font-family: "Khula", sans-serif;
  font-size: 14px;
  color: #5f5f5f; }

/*تنسيقات للنصوص متعلقة بـ قسم اللغات و الهوايات*/
.cv-base section aside .aside-parts ul li .words {
  float: left;
  height: 20px;
  padding-top: 2px;
  background-color: transparent;
  overflow: hidden; }

.cv-base section aside .aside-parts ul li .words p {
  text-transform: capitalize; }

/*نهاية تنسيقات للنصوص متعلقة بـ قسم اللغات و الهوايات*/
/*********************************/
/*تنسيقات النجوم الستة*/
.cv-base section aside .aside-parts ul li .icons {
  float: right;
  
  
  padding-top: 3px;
  background-color: transparent;
  overflow: hidden; }

.cv-base section aside .aside-parts ul li .icons i {
  float: left;
  margin-right: 6px;
  font-size: 13px;
  color: #cfcdce; }

.cv-base section aside .aside-parts ul li .icons i:last-child {
  margin-right: 0; }

/*نهاية تنسيقات النجوم الستة*/
/*نهاية تنسيقات القوائم*/
/*نهاية تنسيقات متكررة للاقسام الثلاثة*/
/**************************************************/
/*القسم الاول = نبذة تفصيلية*/
.cv-base section aside #part01 p {
  width: 100%;
  height: 266px;
  font-size: 14px; }

.cv-base section aside #part01 ul {
  width: 100%;
  height: 268px; }

/*نهاية القسم الاول = نبذة تفصيلية*/
/**************************************************/
/*القسم الثاني = اللغات المحكية*/
.cv-base section aside #part02 h3 {
  padding-bottom: 15px; }

.cv-base section aside #part02 p {
  font-size: 15px; }

.cv-base section aside #part02 ul {
  width: 100%;
  height: 97px; }

.cv-base section aside #part02 ul li {
  padding-bottom: 15px; }

/*نهاية القسم الثاني = اللغات المحكية*/
/**************************************************/
/*القسم الثالث = الهوايات*/
.cv-base section aside #part03 {
  border-bottom: 0; }

.cv-base section aside #part03 h3 {
  padding-bottom: 8px; }

.cv-base section aside #part03 p {
  font-size: 15px; }

.cv-base section aside #part03 ul {
  width: 100%;
  height: 51px; }

.cv-base section aside #part03 ul li {
  width: auto;
  float: left;
  padding: 0 13px 0 0; }

/*نهاية القسم الثالث = الهوايات*/
/*نهاية الجانب الايسر و الذي يتضمن نبذة و لغات محكية و هوايات*/
/**********************************************************************/
/*الجانب الايمن و الذي يتضمن المهارات و التعليم و التجربة*/
.cv-base section article {
  float: right;
  width: 50%;
  height: 100%;
  background-color: transparent;
  overflow: hidden; }

/*تنسيقات متكررة لـ الاقسام ادناه*/
/*تنسيقات قواعد الاقسام*/
.cv-base section article .article-parts {
  width: 100%;
  height: 296px;
  padding: 0 0 20px 56px;
  margin-bottom: 13px;
  background-color: transparent;
  overflow: hidden; }

/*نهاية تنسيقات قواعد الاقسام*/
/**************************************************/
/*تنسيقات عناوين الاقسام*/
.cv-base section article .article-parts h3 {
  padding: 0 0 9px 0;
  margin: 0;
  text-transform: capitalize;
  font-family: "Grand Hotel", cursive;
  font-weight: 700;
  font-size: 29px;
  color: #7cc0c9; }

/*نهاية تنسيقات عناوين الاقسام*/
/**************************************************/
/*تنسيقات القوائم*/
.cv-base section article .article-parts ul {
  width: 100%;
  height: 251px;
  padding: 0 12px 0 21px;
  margin: 0;
  list-style-image: url("../images/list.png");
  overflow: hidden; }

.cv-base section article .article-parts ul li {
  width: 100%;
  padding-bottom: 9px; }

.cv-base section article .article-parts ul p {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  font-family: "Khula", sans-serif;
  font-size: 15px;
  color: #5f5f5f; }

/*تنسيقات مستوى اتقانك لـ المهارات*/
.cv-base section article .article-parts ul .lines {
  width: 100%;
  height: 15px;
  margin-top: 10px;
  display: block;
  background-color: #cfcdce;
  overflow: hidden; }

.cv-base section article .article-parts ul .lines .lines-fall {
  width: 10%;
  height: 100%;
  background-color: #ebb3be; }

/*نهاية تنسيقات مستوى اتقانك لـ المهارات*/
/*نهاية تنسيقات القوائم*/
/*نهاية تنسيقات متكررة لـ الاقسام ادناه*/
/**************************************************/
/*القسم الاول = المهارات*/
/*التحكم بـ اظهار المهارات*/
.cv-base section article #article01 #ulscrolls #shskill01 {
  display: list-item; }

.cv-base section article #article01 #ulscrolls #shskill02 {
  display: list-item; }

.cv-base section article #article01 #ulscrolls #shskill03 {
  display: list-item; }

.cv-base section article #article01 #ulscrolls #shskill04 {
  display: list-item; }

.cv-base section article #article01 #ulscrolls #shskill05 {
  display: list-item; }

.cv-base section article #article01 #ulscrolls #shskill06 {
  display: list-item; }

.cv-base section article #article01 #ulscrolls #shskill07 {
  display: none; }

.cv-base section article #article01 #ulscrolls #shskill08 {
  display: none; }

.cv-base section article #article01 #ulscrolls #shskill09 {
  display: none; }

.cv-base section article #article01 #ulscrolls #shskill10 {
  display: none; }

.cv-base section article #article01 #ulscrolls #shskill11 {
  display: none; }

.cv-base section article #article01 #ulscrolls #shskill12 {
  display: none; }

/*نهاية التحكم بـ اظهار المهارات*/
/*********************************/
/*التحكم بـ قيم امتلاء المستطيلات*/
.cv-base section article #article01 ul li #skill01 {
  width: 95%;
  background-color: #c5adc7; }

.cv-base section article #article01 ul li #skill02 {
  width: 85%;
  background-color: #ebb3be; }

.cv-base section article #article01 ul li #skill03 {
  width: 14%;
  background-color: #fad6b6; }

.cv-base section article #article01 ul li #skill04 {
  width: 70%;
  background-color: #c1e2eb; }

.cv-base section article #article01 ul li #skill05 {
  width: 40%;
  background-color: #c5adc7; }

.cv-base section article #article01 ul li #skill06 {
  width: 4%;
  background-color: #ebb3be; }

.cv-base section article #article01 ul li #skill07 {
  width: 0%;
  background-color: #fad6b6; }

.cv-base section article #article01 ul li #skill08 {
  width: 0%;
  background-color: #c1e2eb; }

.cv-base section article #article01 ul li #skill09 {
  width: 0%;
  background-color: #c5adc7; }

.cv-base section article #article01 ul li #skill10 {
  width: 0%;
  background-color: #ebb3be; }

.cv-base section article #article01 ul li #skill11 {
  width: 0%;
  background-color: #fad6b6; }

.cv-base section article #article01 ul li #skill12 {
  width: 0%;
  background-color: #c1e2eb; }

/*نهاية التحكم بـ قيم امتلاء المستطيلات*/
/*نهاية القسم الاول = المهارات*/
/**************************************************/
/*القسم الثاني = التعليم*/
.cv-base section article #article02 {
  height: 309px; }

.cv-base section article #article02 ul {
  padding: 0;
  margin: 0;
  list-style-image: none;
  list-style-type: none; }

.cv-base section article #article02 ul li h3 {
  padding-bottom: 4px;
  font-family: 'Khula', sans-serif;
  font-weight: 700;
  font-size: 16px; }

.cv-base section article #article02 ul li p:first-of-type {
  padding-bottom: 4px;
  font-size: 14px; }

.cv-base section article #article02 ul li p:last-of-type {
  line-height: 22px;
  font-size: 14px; }

/*نهاية القسم الثاني = التعليم*/
/*نهاية الجانب الايمن و الذي يتضمن المهارات و التعليم و التجربة*/
/*نهاية مجسم السيفي*/
/*نهاية قاعدة السيفي*/

/*# sourceMappingURL=project02.css.map */
