

/********** section 1 **************/

.section-1 {
  padding: 5vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 80%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.about-teacher-head{
  color: #f7b489;
  font-family: 'Dancing Script', cursive;


}
.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -3vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 1vmin 0vmin 2vmin 1vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
  padding: 8px;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 1.02em;
  color: rgba(0, 0, 0, 0.5);
}
