/*public_css*/
a{
    text-decoration: nane;
    color: #fff;
}
@import url(./fonts.css);


/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);


/*end*/
/*nav_news*/
.Header_Title{
    background: #ffb606;
    z-index: 3000;
    height: 50px;

}
.icon_location{
    float: left;
    margin-right: 15px;

}

.Header_Title .div_cross {
    background-color: #ffb606;
    border: none;
    float: left;
    margin: 8px 8px 0 0;
    position: absolute;
    top: 0;
    left: 15px;
}

/*end*/

/*nav_bar*/


.navbar {
    background-color:#111;
}
nav {
    height:50px;
}
.navbar-nav {
    margin:auto;
}
.nav-link {
    margin:10px 25px;
    color:#fff;
}
.nav-link:hover {
    color:#ffb606 !important;
}
.box {
    width:100%;
    height:30px;
    background-color:#000;
    position:relative;
}
.box-1 {
    position: absolute;
    width: 50%;
    background-color: transparent;
    height: 100%;
    border-radius: 0px 40px 0px 0px;
    border-top: 5px solid #ffb606;
    border-right: 5px solid #ffb606;
    z-index: 2000;
}
.box-2 {
    position: absolute;
    z-index: 2000;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    border-radius: 40px 0px 0px 0px;
    border-top: 5px solid #ffb606;
    border-left: 5px solid #ffb606;
}

/*end*/


/*.carousel*/

.carousel {
    z-index: 100;
    top: -30px;
}
/*end*/
.heading-title-gate-anchor:hover{
  color:#fff;
}


.orange-main-color{
    /* color: #feb701; */
    color: #ffb606;
}
.orange-background-color{
    background: #ffb606;
}
.submit-btn{
    font-size: 1.2rem;
    font-weight: 600;

}



.white-color{
    color:#fff;
}
.main-black-color{
  color: #111;
}
.dots-span{
  font-weight: 800;
}
.default-main-border{
  border: 1px solid #ffb606;
}

.font-Jomolhari{
    font-family: 'Jomolhari', serif;
}

.font-cairo{
    font-family: 'Cairo', sans-serif !important;
}

.font-roboto{
  font-family: 'Roboto', sans-serif;
}


a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

.section-header-titles{
    font-size:1.5rem;
    margin-bottom: 0;
}

.title_area_span{
    display: inline-block;
    text-align: left;
    height: 2px;
    width: 50px;
    /* background: none repeat scroll 0 0 #d1d1d1; */
    background: none repeat scroll 0 0 #111;
    margin-bottom: 12px;
 }
img{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

/* prevent user from drag or select images*/
.prevent-selection{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.prevent-drag{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}



/* .padding-columns{
    padding: 0 10%;
} */


/* start navigation */

.navbar-collapse{
    padding: 0 9rem 0 11rem;
}

 .navbar-brand{
    /* padding: 0 2rem 0 5rem; */
    padding: 0 !important;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}


@media (min-width: 992px) {

   .header_area .main-menu .nav-item .nav-link{
    /* font: normal 500 15px/2px var(--roboto); */
    font: normal bold 15px/20px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
    font-family: Tahoma, Geneva, sans-serif;
}

}


@media (min-width: 1200px) {


   .header_area .main-menu .nav-item .nav-link{
    /* font: normal 500 15px/2px var(--roboto); */
    font: normal bold 15px/20px var(--roboto);
    text-transform: uppercase;
    padding: 1.4rem;
    color: var(--title-color);
    font-family: Tahoma, Geneva, sans-serif;
}

}

/* line after navbar links*/
/* .nav-link {
  display: inline-block;
  color: #ffb606;
  text-decoration: none;
} */

/* .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffb606;
  transition: width .3s;
}

.nav-link:hover::after {
  width: 100%;
  transition: width .3s;
} */

.active-back{
  background: #f00;
}

/* ul li.active-nav-after-color a::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #ffb606;
  transition: width .3s;
   */
/* } */

/* .active-nav-after-color::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #ffb606;
  transition: width .3s;

} */


/* line after navbar links*/



.header_area .main-menu .navbar-nav .active a{
    /* background: var(--gradient-color); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--title-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */


/* start slider */

/* carousel control arrows*/
.carousel-control-next,
.carousel-control-prev{
    width: 4%;
}

.main-slider-div{
    height:570px
}

.slider-img{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* breaking news */

.breaking-news-row-top{
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
    top: 540px;
}

.breaking-news-headline {
    display: block;
    position: absolute;
    font-family: arial;
    font-size: 1.1rem;
    margin-top: -22px;
    color: white;
    margin-left: 200px;
  }

  .breaking-news-title {
    background-color: #ffb606;
    display: block;
    height: 30px;
    width: 180px;
    font-family: arial;
    font-size: .9rem;
    position: absolute;
    top: 0px;
    margin-top: 0px;
    /* margin-left: 20px; */
    padding-top: 7px;
    padding-left: 10px;
    z-index: 3;
    font-weight: 700;
  }


  #breaking-news-colour {
    height: 30px;
    /* width: 694px; */
    width: 100%;
    /* background-color: #3399FF; */
    border-top: 1px solid #ffb606;
  }

  #breaking-news-container {
    height: 30px;
    width: 100%;
    overflow: hidden;
    position: absolute;
  }
  /* #breaking-news-container:before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: #3399ff;
    position: absolute;
    z-index: 2;
  } */

  .animated {
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 0.2s;
    -moz-animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
  }

  .delay-animated {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 0.4s;
    -moz-animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .scroll-animated {
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 3s;
    -moz-animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }

  .delay-animated2 {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 0.4s;
    -moz-animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }

  .delay-animated3 {
    -webkit-animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 5s;
    -moz-animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -webkit-animation-delay: 0.5s;
    animation-delay: 3s;
  }

  .fadein {
    -webkit-animation-name: fadein;
    -moz-animation-name: fadein;
    -o-animation-name: fadein;
    animation-name: fadein;
  }

  @-webkit-keyframes fadein {
    from {
      margin-left: 1000px;
    }
  }
  @-moz-keyframes fadein {
    from {
      margin-left: 1000px;
    }
  }
  .slidein {
    -webkit-animation-name: slidein;
    -moz-animation-name: slidein;
    -o-animation-name: slidein;
    animation-name: slidein;
  }

  @keyframes marquee {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  .marquee {
    animation: marquee 10s linear infinite;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 3s;
  }

  @-webkit-keyframes slidein {
    from {
      margin-left: 800px;
    }
    to {
      margin-top: 0px;
    }
  }
  @-moz-keyframes slidein {
    from {
      margin-left: 800px;
    }
    to {
      margin-top: 0px;
    }
  }
  .slideup {
    -webkit-animation-name: slideup;
    -moz-animation-name: slideup;
    -o-animation-name: slideup;
    animation-name: slideup;
  }

  @-webkit-keyframes slideup {
    from {
      margin-top: 30px;
    }
    to {
      margin-top: 0;
    }
  }
  @-moz-keyframes slideup {
    from {
      margin-top: 30px;
    }
    to {
      margin-top: 0;
    }
  }

/* breaking news */

/*search box css start here*/
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}



/* gates box*/



.head-text-slider{
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: -346px;
}

.head-text-slider .english-text{
    font-size: 70px;
    line-height: 74px;
    font-weight: 700;
    text-transform: uppercase;
}

.img{
    background: #313131;
    height: 117px;
    /* width:247px; */
    opacity: 0.9;
    margin-bottom: 6px;
    transition: transform 0.9s ease;
}

.img:hover{
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.img:hover > img{
    filter: brightness(0.15);
}

.slider-gate-img{
    margin-top: 25px;
    margin-right: 7px;
    width: 28px;
}




.search-container{
    position: relative;
}

.search-form{
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: -164px;
}
.show-more{
    transition: transform 0.9s ease;
}

.show-more:hover{
    color: #feb701;
}

.show-more:hover .hover-padding{
    padding: 4px;

}

.slider-gates-shape{
    padding-right: 0;
    padding-left: 10;
}

.heading-title-gate{
    text-align: left; margin: 10px 0;color: #fff;font-size: 1.2rem;
}


/* right button*/

.customButton{
    z-index:1;
    display: block;
    /* width: 20px;
    height: 20px; */
    top : 405px;
    right : 0px;
    position: fixed;
    /* background-color: #000;
    border: 1px solid #000; */
    border-radius: 10px;
 }

 .right-top-buttons{
    opacity: 0.9;
    margin-bottom: 6px;
    height: 39px;
    width: 40px;
 }

 .right-top-img{
    width:100%;
    height:100%;
    margin-bottom: 5px;
    transition: transform .4s ease;
 }

 .right-top-img:hover{
     cursor: pointer;
    transform: scale(1.1);
 }

 .submit-btn{
    background-color: #ffb606;
    border-color: #ffb606;
    transition: transform .4s ease;
 }
 .submit-btn:hover{

    transform: scale(1.1);
 }

 .display-none{
     display: none;
 }

/*end gates box*/

/* end slider */

/* Banner Area */

.site-main .site-banner {
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 2rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

/* End Banner Area */



/* Start why us Area */
.brand-area{
  padding: 0 6%;
}

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .about-us-right{
    /* display: flex; */
    justify-content: center;
}

.site-main .brand-area .first-row .about-us-right > .single-brand{
    /* border: 1px solid var(--border-color); commented in single image*/
    /* border: 1px solid #ffb606;  */
    box-shadow: 0 0 4px 0 rgba(255, 182, 6, 1);
    text-align: center;
    /* padding: 1.8rem 0rem; commented in single image*/
    padding: 1rem 0rem;
    margin: .9rem 0;
    width: 192px;
    height: 125px;

    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .about-us-right > .single-brand > img{
    width: 50%;
}

.why-us-man-img{
  margin-top: 29%;
}

.site-main .brand-area .first-row .about-us-right > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .about-us-right > .single-brand:hover > img{
    /* filter: brightness(0.15); */
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

.features-text{
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
}


/* End why us Area */


/* start honor board */

.cta-100 {
    margin-top: 100px;
    padding-left: 7%;
    padding-right: 7%;
    /* padding-top: 7%; */
  }
  .honor-board-container{
    padding-left: 6%;
  }
  /* .col-md-4{
      padding-bottom:20px;
  } */

  .border-honor-img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .white {
    color: #fff !important;
  }
  .mt{float: left;margin-top: -34px;padding-top: 20px;}
  .mt-right{float: right;margin-top: -34px;padding-top: 20px;direction: rtl;}
  .bg-blue-ui {
    background-color: #feb701 !important;
  }
  figure img{width:300px;}

  #blogCarousel {
    padding-bottom: 100px;
  }

  .blog .carousel-indicators {
    left: 0;
    top: -50px;
    height: 50%;
  }

  .honor-student-number{
    color: #000;
    margin-top:5px;
  }

  .honor-student-year{
    margin-bottom: 0;
  }
  /* The colour of the indicators */

  /*btn floating ++ control buttons+++*/

  .controls-top{
    float: right;
    margin-bottom: 12px;
  }

  .btn-floating{
    /* border: 2px solid rgba(0,0,0,.125); */
    border: 2px solid #777;
    padding: 0 7px;
    color: #111;
  }

  .btn-floating:hover{
    color:#ffb606;
  }

  .blog .carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 18px;
    height: 0px;
  }

  .blog .carousel-indicators .active {
    background: #feb701;
  }

  /* love heart */
  .fa-heart{
    font-weight: 400;
    color: #e64c3d;
  }

    .fa-heart:hover{
        font-weight: 900;
        cursor: pointer;
    }

    .liked{
		color: blue;
		font-weight: bold;
	}

  /* star*/
  .star-hover{
    font-weight: 400;
    color: #feb701;

  }

  .star-hover:hover{
      cursor: pointer;
    font-weight: 900;
  }


  .b1:hover ~ i{
    font-weight: 900;
  }

  .b2:hover ~ i{
    font-weight: 900;
  }

  .b3:hover ~ i{
    font-weight: 900;
  }

  .b4:hover ~ i{
    font-weight: 900;
  }



  .parents-follow-up-container .card{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }

  .card{
      border: 2px solid rgba(0,0,0,.125);
  }

  .item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
  }

  .item-box-blog {
    border: 1px solid #666;
    text-align: center;
    z-index: 4;
    /* padding: 20px; */
  }

  .item-box-blog-image {
    position: relative;
  }

  .item-box-blog-image figure img {
    width: 100%;
    height: auto;
  }

  .item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 3px 12px;
    top: 166px;
    right: 123px;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  .item-box-number {
  background: #feb701;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: -29px 40% 10px;
    text-align: center;
  }

  .item-box-blog-date span {
    color: #000;
    display: block;
    text-align: center;
    line-height: 1.2;
  }

  .item-box-blog-date span.mon {
    font-size: 18px;
  }

  .item-box-blog-date span.day {
    font-size: 16px;
  }

  .item-box-blog-body {
    padding: 10px;
  }

  .item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
  }

  .item-box-blog-heading a {
      text-decoration: none;
  }

  .item-box-blog-data p {
    font-size: 19px;
    color:#535353;
    font-weight: normal;
    line-height: 1;
  }

  .item-box-blog-data p i {
    font-size: 12px;
  }

  .item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
  }

  .honor-desc{
    font-size: 19px;
    color: #555;
    font-weight: normal;
    line-height: 2;
    border-bottom: 1px solid #888;
  }


  .mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
  }

  .btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
  }

  .btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
  }


/* end honor board */


/*start our team section*/
.margin-bottom{
    margin-bottom: 8px;
}
.our-team-card{
    border: none;
}
.out-tema-name{
    margin: -22px -2% 10px;
    background: #ffb606;
    width: 100%;
    height: 24px;
}

.our-team-heading-name{
    color: #fff;
    font-size: 1rem;
}

.item-box-blog-data .out-team-title{
    color: #111111;
    line-height: 1;
    font-size: .8rem;
    font-weight: 800;
    text-transform: capitalize;
}

/*end our team section*/

/* start honor board area*/
/* start honor board area carousel*/
.carousel-inner.vv-3 .carousel-item.active,
.carousel-inner.vv-3 .carousel-item-next,
.carousel-inner.vv-3 .carousel-item-prev {
  display: flex;


}

.carousel-inner.vv-3 .carousel-item-right.active,
.carousel-inner.vv-3 .carousel-item-next {
  transform: translateX(33.33%);
}


.carousel-inner.vv-3 .carousel-item-left.active,
.carousel-inner.vv-3 .carousel-item-prev {
  transform: translateX(-33.333%);
}

.carousel-inner.vv-3 .carousel-item-right,
.carousel-inner.vv-3 .carousel-item-left {
  transform: translateX(0);
  transform: translateY(0);
}

.our-team-carousel-inner.vv-3 .carousel-item.active
/* end honor board area*/

/* start our team area*/
.our-team-carousel-inner.vv-3 .carousel-item.active,
.our-team-carousel-inner.vv-3 .carousel-item-next,
.our-team-carousel-inner.vv-3 .carousel-item-prev {
  display: flex;


}

.our-team-carousel-inner.vv-3 .carousel-item-right.active,
.our-team-carousel-inner.vv-3 .carousel-item-next {
  transform: translateX(50%);
}


.our-team-carousel-inner.vv-3 .carousel-item-left.active,
.our-team-carousel-inner.vv-3 .carousel-item-prev {
  transform: translateX(-50%);
}

.our-team-carousel-inner.vv-3 .carousel-item-right,
.our-team-carousel-inner.vv-3 .carousel-item-left {
  transform: translateX(0);
  transform: translateY(0);
}


/* end our team area*/



/*strat what students say about*/
.say-about-div{
    opacity: 0.9;
    margin-bottom: 6px;
    transition: transform 0.9s ease;
    /* cursor: pointer; */
    /* box-shadow: var(--box-shadow); */
    /* transform: scale(1.1); */

}
/*
.say-about-div:hover{
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
} */

.say-form{
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.say-about-div-img{
    padding: 1px;
}

.say-about-div:hover > img{
    filter: brightness(0.15);
}
.heading-title-say{
    text-align: left;font-size: 1rem;
}
.say-about-img{
    border: 2px solid #535353;
    border-radius: 5px;
}
.say-about-span{
    font-size: 0.8rem;
    margin-left: 1%;
}
#our-team{
    /* height:350px; */
    height:250px;
    overflow:hidden;
}
.our-team-comment-text{
    color: #111111;
}

#our-team::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  /* #our-team::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  } */

  /* Handle */
  #our-team::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 10px;
    height:10px;
  }

  /* Handle on hover */
  #our-team::-webkit-scrollbar-thumb:hover {
    background: #ffb606;
  }

  .say-about-button {
    background: #ffb606;
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: #ffb606;
  }

/*end what students say about*/


/* Start About Area */

/********** section 1 **************/

.section-1 {
    /* padding: 5vmin 0vmin 20vmin; */
    padding: 5vmin 6% 20vmin;
  }

  .section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
  }

  .section-1 .row .col-md-6 {
    position: relative;
  }

  .section-1 .row .col-md-6 .panel {
    position: absolute;
    top: -7.5vmin;
    left: -16vmin;
    background: url(../img/about-me/rect/rect.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* border-radius: 40%; */
    text-align: left;
    padding: 7vmin 3vmin 21vmin 6vmin;
    /* box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2); */
    font-family: Tahoma, Geneva, sans-serif;
    z-index: -1;
    padding: 116px;

  }

  .section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    /* padding: 0.4em 0; */
    font-size: 2em;
    margin: 0px 0 0 80px;
  }

  .section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 80px;
  }


.about-me-title{
  margin-bottom: 60px;
  /* margin-left: 93px; */
}

/********** section 1 **************/

/********** about area **************/
.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

.profile-about-img{
    border: 3px solid #ffb606;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    /* box-shadow: 10px 10px 30px 10px rgba(57, 56, 61, 0.205); */
    margin: 55px auto;
}
.pofile-btn{
    padding: .5rem 1rem;
    position: absolute;
    bottom: 10px;
    right: 90px;
}
.pofile-btn:hover{
    color:#ffb606;

}


/* End About Area */


/* Start Brand Area */

.site-main .brand-area{
    padding: 1rem 20rem;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

/* End Brand Area */

/* Services Area */

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}



/* End Services Area */


/* Project Area */

.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .photo-img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */



/* About Me */
.about-me-background{

    /* background: url(../img/about-me/rect/rect.png) no-repeat 0% 50%; */
}

.site-main .about-area .container-fluid{
    /* border: 3px dotted #ffb606;
    border-radius: 225px; */
    /* z-index: -1; */
}

.site-main .about-area .about-title p{
    padding: 1rem 7rem;
    /*  */
}

.about-me-right-section{
    background: url(../img/about-me/rect/rect.png);
    background-repeat: no-repeat;
    background-size: 70%;
    padding: 70px;
    z-index: -1;
    position: absolute;
    right: 96px;
    top: 613px;
}

.pofile-btn{
    background: #000;
    color: #fff;
    margin: 0 48px;

    /*
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
    border: 2px solid #000;
    */
}


.site-main .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img{
    padding: 2rem;
}

.site-main .about-area .client .about-client{
    padding-top: 2rem;
}

.site-main .about-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .client .about-client p{
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}



/* End About Me */

/* Subscribe me */

.site-main .subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--roboto);
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}

/* End subscribe me */

/* start video-gallery page */

.videos-container .card{
  border: none;
}

.videos-container .nav-pills .nav-link{
  color: #111;
  /* border-radius: 100px; */
  font-weight: 600;
  background: none;
  border: 1px solid #ffb606;
  margin: 5px;
  line-height: 2.5;
}
.videos-container .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background: #ffb606;
}

.video-gallery-img{
    box-shadow: 10px 10px 30px 10px rgba(57, 56, 61, 0.205);
    /* transform: scale(1.1); */
    border-radius: 5px;
    max-width: 100%;
    min-width: 100%;
}


.watch-video{
    position: relative;
    bottom: 75px;
    left: 18px;
    height: 100px;
    width: 96px;
    z-index: 988;
    font-size: .9rem;
    text-align: center;
    background: #ffb606;
    color: #000;
    border-radius: 8px;
    box-shadow: 10px 10px 30px 10px rgba(57, 56, 61, 0.205);
    transform: scale(1.1);
}
.watch-icon{
    width: 20px;height: 27px;
}

.watch-video-text{
    display: block;
    font-size: .8rem;
    font-weight: 600;
}

.cv-right-icon-img{
    width: 14px;
}
.heading-title-text{
    font-size: .9rem;
}
/* end video-gallery page */


/* start profile page */
.profile-page{
    /* box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.4) */
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.circle-before:before{
    content: "";
    border: solid 2px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    font-size: 8px;
    margin-left: -21px;
    margin-top: -10px;
    font-weight: 400;
    background: #fff;
    display: block;
    position: absolute;
}

/*skills section*/
.skill-single-before:before{
    content: "";
    border: solid 2px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    font-size: 8px;
    margin-left: -21px;
    margin-top: 4px;
    font-weight: 400;
    background: #000;
    display: block;
    position: absolute;
}


/* end profile page */


/* start enroll course page */
.enroll-course-btn{
    height: 45px;
    font-size: .9rem;
    text-align: center;
    background: #111 !important;
    color: #e6e6e6 !important;
    border-radius: 50px;
    /* box-shadow: 10px 10px 30px 10px rgba(57, 56, 61, 0.205); */
    transform: scale(1.5);
    min-width: 65%;
}
.closed-btn:hover{
    color:#ffb606 !important;
}
.btn-active{
    background: #ffb606 !important;
}

.closed-now-text{
    display: block;
    font-size: .5rem;
}
.btn-margin{
    margin: 50px 0;
}
.radio-input{
    margin: 7px;
}

.p-header-titles{
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 600;
}

/*upload image*/
  .btn-file {
    position: absolute;
    overflow: hidden;
    top: -27%;
    left: 40%;
    cursor: pointer;
    font-weight: 500;
    color: #0a0a0a;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    /* font-size: 100px; */
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    /* outline: none; */
    background: #000;
    cursor: inherit;
    display: block;
}
.upload-photo{
    width: 100px;
    height: 100px;
    background: #ffb606;
    border-radius: 50%;
    display: block;
}

/* .upload-photo-icon{
    margin: 38% auto;
} */

/*upload image*/

/*btn radio*/
.btn-radio {
    cursor: pointer;
    display: inline-block;
    float: left;
    -webkit-user-select: none;
    user-select: none;
  }
  .btn-radio:not(:first-child) {
    margin-left: 20px;
  }
  @media screen and (max-width: 480px) {
    .btn-radio {
      display: block;
      float: none;
    }
    .btn-radio:not(:first-child) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
  .btn-radio svg {
    fill: none;
    vertical-align: middle;
  }
  .btn-radio svg circle {
    stroke-width: 2;
    stroke: #C8CCD4;
  }
  .btn-radio svg path {
    stroke: #ffb606 ;
  }
  .btn-radio svg path.inner {
    stroke-width: 6;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
  }
  .btn-radio svg path.outer {
    stroke-width: 2;
    stroke-dasharray: 57;
    stroke-dashoffset: 57;
  }
  .btn-radio input {
    display: none;
  }
  .btn-radio input:checked + svg path {
    transition: all 0.4s ease;
  }
  .btn-radio input:checked + svg path.inner {
    stroke-dashoffset: 38;
    transition-delay: 0.3s;
  }
  .btn-radio input:checked + svg path.outer {
    stroke-dashoffset: 0;
  }
  .btn-radio span {
    display: inline-block;
    vertical-align: middle;
  }

/*btn radio*/

/* sign-in-btn */
.sign-in-btn{
    border-radius: 40px;
    font-weight: 600;
}
.modal-footer{
    border-top: none;
}

.c-datepicker-date-picker.has-sidebar{
    width: 494px;
}
/* sign-in-btn */
/* input-text */
.input-text{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #495057;
    padding: 4px;
    padding-top: 25px;
    padding-bottom: 26px;
}
.select-options{
    border: none;
    border-bottom: 1px solid #555;
    border-radius: 0;
    padding: 0px;
}
/* input-text */
/*student-register-table*/
.student-register-table{
  width: 92%;
  margin-top: 1rem;
}
/*student-register-table*/

/* end enroll course page */

/* start references page */
.references-container{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
/* end references page */

/* start photos page */

/* main div carousel container*/
.photos-page-container{
  padding: 6% 11%;
}
.photos-page-container .photos-carousel-container{
  height: 400px;
  overflow: auto;
  padding:2% 10%;
  border: 1px solid #d1d1d1;
  box-shadow: 0 0 4px 0 rgba(209, 209, 209, 1);
}



/*our team*/
.photos-page-container .photos-carousel-container::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.photos-page-container .photos-carousel-container::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 10px;
  height:10px;
}

/* Handle on hover */
.photos-page-container .photos-carousel-container::-webkit-scrollbar-thumb:hover {
  background: #ffb606;
}

/* scroll bar*/

.photos-page-container .carousel-indicators{
  /* background: #d1d1d1; */
  height: 22px;
  /* bottom: -25px; */
}
.photos-page-container .carousel-indicators li{
  background:#ffb606;
  border-radius: 50%;
  border-bottom: none;
  border-top: none;
  width: 15px;
  height: 15px;
  margin-top: -4px;
  margin: -2px auto;
}
.photos-page-container #our-team{
  height: 800px;
}
.photos-page-container .photos-slider-indicator-text{
  cursor: pointer;
}

/** wzered */
.photos-page-container .wizard-container {
    padding-top: 100px;
    z-index: 3;
}

.photos-page-container .wizard-card {
    min-height: 410px;
    /* box-shadow: 0 20px 16px -15px rgba(0, 0, 0, 0.57); */
}

.photos-page-container .wizard-card .wizard-header {
    padding: 15px 15px 15px 15px;
    position: relative;
    border-radius: 3px 3px 0 0;
    z-index: 3;
  }

  .photos-page-container .wizard-card .tab-content {
    padding: 15px 20px 10px;
}

.photos-page-container .ramady-background{
  background-color: #d1d1d1;

}


.photos-page-container .carousel-control-left-padding{
  left: 15px;
}
.photos-page-container .carousel-control-right-padding{
  right: 15px;
}
.photos-page-container .down-control-text{
  position: absolute;
  color: #000;
  height: 20px;
  width: 20px;
  left: 75px;
}
.control-photos{
    color: #000;
    background: none;
    border: 1px solid #ffb606;
    padding: 5px;
    border-radius: 15px;
}

/*control photos button */
.control-photos-btn{
    padding: 4px 15px;
    border-radius: 50px;
    border: 2px solid #ffb606;
    color: #111;
    font-size: 1rem;
    /* background: #ffb606; */
    font-weight: 900;
    line-height: 1.5;
    display: block;
    transform: rotate(90deg);
  }
  .control-photos-btn:hover{
    background: none;
    color: #ffb606;
  }
  .next-photo-btn{
    padding: 4px 25px;
  }
  .previous-photo-btn{
    transform: rotate(270deg);
  }

/* end photos page */




/* start parents follow up page */
.parents-follow-up .card-body{
  padding:5px;
}
.parents-follow-up .nav-pills{
  margin-bottom: 20px;
}
.parents-follow-up .nav-pills .nav-link{
    color: #111;
    border-radius: 100px;
    font-weight: 600;
    background: none;
    border: 1px solid #ffb606;
    margin: 5px;
    /*    */
}
.parents-follow-nav{
    width: 135px;
    padding: 0;
}
.high-school-nav{
  padding: 5px;
}

.parents-follow-up .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background: #ffb606;
}

.paymet-last-nav{
    position: absolute;
    right: 14px;
}
.parents-follow-up .font-personal-data{
    font-weight: 600;
    font-size: 1.3rem
}

.parents-follow-up .card-title{
  margin-left: 11px
}

.teacher-note-text{
    border-radius: 10px !important;
    padding: 3px 10px;
}
.parents-follow-up .last-update{
    position: absolute;
    right: 0;
    border-top: none;
}

.attendence-months-container{
  /* padding: 2%; */
}

.payment-dot {
  height: 20px;
  width: 20px;
  border: 2px solid #bbb;
  border-radius: 50%;
  display: inline-block;
}
.active-dot{
  background: #ffb606;
}

.mt-payment-dot{
  float: left;
  padding-top: 20px;
  padding-right: 10px;
}
.mt-right-payment{
  /* float: right; */
  padding-top: 20px;
  direction: rtl;
}

.attendence-container{
  box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.attendence-container .attendence-table{
  margin: 3%;
  width: 95%;
}

.attendence-table {
  border: 2px solid #ffb606;
}
.attendence-table tr:nth-child(2) td{
  border: none;
}

/* color of th and td*/
.attendence-table thead th{
  border-bottom: 2px solid #ffb606;
}

.attendence-table .table-bordered td,
.attendence-table .table-bordered th{
  border: 1px solid #ffb606;
}

.attendence-table td{
  border:none;
  padding:10px 0;
  font-weight: 700;
  font-size: .8rem;
}
.attendence-table td:last-child .progress-wrap{
  border-top-right-radius: 18px 18px;
    border-bottom-right-radius: 18px 18px;
    margin-left: -10px;
}
.attendence-table td:first-of-type .progress-wrap{
  border-top-left-radius: 18px 18px;
    border-bottom-left-radius: 18px 18px;
    margin-left: 10px;
}

/*personal data*/
.student-padding-img{
  padding: 5%;
}
#personal-data .card-img{
  border: 1px solid #111;
}

.personal-data-container{
  padding: 10px;
}
.personal-data-container .rate-student{
  direction: rtl;
  margin-left: 10px;
}
/* exam results */
.exam-result{
  float: right;
    background: #ffb606;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding: 5%;
}


.exam-results-second-container .progress-bar{
  background-color: #0e0e0e;
}
.exam-results-second-container .progress{
  border-radius: 8px;
  height: 1.2rem;
  margin: 17px auto;
}

.exam-title{
  margin-top: 0px;
  padding: 0;
}
.exam-results-second-container{
  margin: 3%;
}
.default-full-exam-mark{
  display: block;border-top:1px solid #000;
}
/* exam-result */

/**/
/*control in progress bar*/

/* IE10 */
.attendence-control-progress-table progress {
  color: #ffb606;

  width: 90%;
  height: 20px;
}

/* Firefox */
.attendence-control-progress-table progress::-moz-progress-bar {
  background: #ffb606;

  width: 300pt;
  height: 20px;
}

/* Chrome */
.attendence-control-progress-table progress::-webkit-progress-value {
  background: #ffb606;

  width: 300pt;
  height: 20px;
}

/* Polyfill */
.attendence-control-progress-table progress[aria-valuenow]:before {
  background: #ffb606;

  width: 300pt;
  height: 20px;
}

.attendence-control-progress-table progress {
  -webkit-appearance: none;
  appearance: none;
}

.attendence-control-progress-table progress::-webkit-progress-bar {
  background-color: #ffb606;
}

.attendence-control-progress-table progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

.attendence-control-progress-table progress[value]::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
/*control in progress bar*/

/* progress bar div */
.attendence-control-progress-table .progress {
  width: 100%;
  height: 20px;
  border-radius: 0%;
}

.attendence-control-progress-table .progress-wrap {
  overflow: hidden;
  position: relative;
}
/* .progress-wrap .progress-bar:first-of-type{background: #ffb606;} */
.attendence-control-progress-table .progress-wrap .progress-bar {
  background: #ffb606;
  /* background: #e4e4e4; */
  left: 0;
  position: absolute;
  top: 0;
}
.attendence-control-progress-table .progress-wrap .progress-bar-grey{
  background: #e4e4e4;
}

/*
.progress {
  width: 100%;
  height: 50px;
}

.progress-wrap {
  background: #f80;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.progress-wrap .progress-bar {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
} */

/* end parents follow up page */

/* start sign up parents page */
.parents-sign-up-container .card{
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}
.parents-sign-up-container .card{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.parents-sign-up-container .card-header{
  background-color:#ffb606;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

/***/
.parents-sign-up-container .list-group-item{
border:none;
}

.parents-sign-up-container .btn_1{
  /* background-color: #ff663b;
    color: #fff; */
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 2px !important;
}

.parents-sign-up-container .inputs-container-div{
    /* border: 1px solid #dedede; */
    border-bottom: 1px solid #111;
    padding: 5px;
}

.parents-sign-up-container .input-form-text{
    height: 40px;
    border: none;
    width: 67% !important;
    font-weight: 500;
    padding-left: 20px;
    border-radius: 0;
    font-size: 1.3rem;
    color: #999999;
    border: 0px solid transparent;
    font-family:Roboto, sans-serif;
    background: rgba(255,255,255,0.8);
    /* border-bottom: 1px solid #111; */
}
.submit-center-padding{
  padding: 8px;
}

/* end sign up parents page */
/* start high school gate page */
.left-nav-pills{
  margin-top:50px;
}
/* start high school gate page */

/* start english gate page */
.left-nav-pills{
  margin-top:50px;
}
.english-gate-container{
  padding: 20px;
}

/*plus minus*/

/*plus minus*/


/* start english gate page */

/* .no-gutters{
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
} */

/* progress bar div */


/* Footer Area */

/* footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
} */


/* End Footer */




/* image takepiker */

.c-datepicker-picker{
  width:400px;
}

.datepicker {
    width: 92%;
    border-radius: none;
    background: #fff;
    border-bottom: 1px solid #495057;
    /* box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2); */
    /* margin: 50px auto; */
    overflow: hidden;
    height: 52px;
  }


  .c-datepicker-range__icon{
    margin-top: 9px;
  }

  .c-datepicker-date-editor{
    border: none;
    border-radius: 0;
    padding:0;
    border-bottom: 1px solid #495057;
  }

  .datepicker .datepicker-header {
    height: 250px;
    background-image: url("https://cdn.dribbble.com/users/3178178/screenshots/6346366/lifeguard_on_duty.jpg");
    background-position: center center;
    background-size: 100%;
  }
  .datepicker .ui-datepicker-inline {
    padding: 30px;
  }
  .datepicker .ui-datepicker-header {
    text-align: center;
    padding-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .datepicker .ui-datepicker-header .ui-datepicker-prev,
  .datepicker .ui-datepicker-header .ui-datepicker-next {
    display: inline;
    float: left;
    cursor: pointer;
    font-size: 1.4em;
    padding: 0 10px;
    margin-top: -10px;
    color: #CCC;
  }
  .datepicker .ui-datepicker-header .ui-datepicker-next {
    float: right;
  }
  .datepicker .ui-datepicker-calendar {
    width: 100%;
    text-align: center;
  }
  .datepicker .ui-datepicker-calendar thead {
    color: #CCC;
  }
  .datepicker .ui-datepicker-calendar tr th, .datepicker .ui-datepicker-calendar tr td {
    padding-bottom: .5em;
  }
  .datepicker .ui-datepicker-calendar a {
    color: #444;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .datepicker .ui-datepicker-calendar .ui-state-highlight {
    border-color: #D24D57;
    color: #D24D57;
  }

/* image takepiker */



