


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input{
        width: 15rem    !important;
    }

    .site-main > .services-area .services{
        width: 13rem;
    }

}
@media (max-width: 500px){
    .header_area .main-menu .navbar .navbar-brand{
        padding: 0 1rem 0 3rem;
    }
}

/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){


    .head-text-slider{
        top: -207px;
    }
    h1,h2,h3,h4{
        font-size: 1.2rem;
        font-weight: 400;
    }

    .search-form{
        left:3px;
        top: -100px;
    }

    .customButton{
        top: 278px;
    }

    .img{
        width: 147px;
        height: 92px;
    }
    .heading-title-gate{
        margin: 0px 0;
    }

    .show-more:hover .hover-padding{
        padding: 0px;
        transition: transform 0.9s ease;
    }

    .show-more{
        font-size: 0.8rem;
        line-height: 1;
    }

    

    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .brand-area .experience-area .years-area{
        padding-left: 1%;
        width: 49%;
    }

    .site-main .brand-area .experience-area .bg-panel{
        margin-left: 30%;
        width: 80%;   
    }

    .site-main .brand-area .first-row .about-us-right > .single-brand{
        margin: 0.9rem 22%;
    }


    .site-main .brand-area .experience-area .call-area{
        padding-left: 3%;
    }

    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }

    .site-main .about-area .about-title p{
        padding: 0%;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input{
        width: 20rem;
        margin: 5%;
    }
}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: .1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 0 6%;
    }


}

/**/
@media (min-width: 1200px){
    .pofile-btn {
        margin: -43px 40px;
    }  
}

/*tablet media*/
@media (max-width: 992px) {
    /* start honor board area carousel*/
    .carousel-inner.vv-3 .carousel-item.active,
    .carousel-inner.vv-3 .carousel-item-next,
    .carousel-inner.vv-3 .carousel-item-prev {
      display: flex;
    }
    
    .carousel-inner.vv-3 .carousel-item-right.active,
    .carousel-inner.vv-3 .carousel-item-next {
      transform: translateX(50%)
    }
    
    
    .carousel-inner.vv-3 .carousel-item-left.active,
    .carousel-inner.vv-3 .carousel-item-prev {
      transform: translateX(-50%)
    }
    
    .carousel-inner.vv-3 .carousel-item-right,
    .carousel-inner.vv-3 .carousel-item-left {
      transform: translateX(0);
      transform: translateY(0);
    } 

    .pofile-btn {
        margin: -6px 40px;
    }
}

/* mobile media */
@media (max-width: 768px) {
    .main-slider-div{
        height:271px;
    }
    .hover-padding{
        display: none;
    }

    .watch-video{
        bottom: 61px;
        left: 18px;
        height: 87px;
        width: 85px;
      
    }
    /* section-1 */
    .section-1 .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;
      }

      
    /* start honor board area*/
    /* start honor board area carousel*/
      .carousel-inner.vv-3 .carousel-item.active,
      .carousel-inner.vv-3 .carousel-item-next,
      .carousel-inner.vv-3 .carousel-item-prev {
        display: flex;
        
         
      }
      
      .carousel-inner.vv-3 .carousel-item-right.active,
      .carousel-inner.vv-3 .carousel-item-next {
        transform: translateX(100%)
      }
      
      
      .carousel-inner.vv-3 .carousel-item-left.active,
      .carousel-inner.vv-3 .carousel-item-prev {
        transform: translateX(-100%)
      }
      
      .carousel-inner.vv-3 .carousel-item-right,
      .carousel-inner.vv-3 .carousel-item-left {
        transform: translateX(0);
        transform: translateY(0);
      } 

      /* our team*/
      .our-team-heading-name{
        font-size: .7rem;
      }

      /*parents follow up page*/
      .parents-follow-up .nav-pills{
        margin-bottom: 5px;
      }
      .parents-follow-up .nav-pills .nav-link{
          margin-bottom: 5px;
      }
      .paymet-last-nav{
        position: relative;
        right: 0;
    }
      /*parents follow up page*/

      .c-datepicker-date-picker.has-sidebar{
        width: 395px;
    }

}
/* end mobile media */