
/*profile*/
.home-profie{
    direction:rtl;
}

/* profile two div's */
.home-profile-teatcher-content{
    float:right;
}

.home-profile-teatcher-img{
    float:right;
}

/* about us*/
#aboutUs{
    direction: rtl;
}

.secondary-gate-div-container{
    direction:rtl;
  }

  .secondary-gate-div-left{
    direction: rtl;
  }



  .float-direction{
    direction: rtl;
  }

  /* chat*/
  .post-head{
      direction:rtl;
  }

.post-info{
    margin-right: 86px;margin-top: -50px;
}

.chat-post-text{
    direction: rtl;
}

.chat-like-btn{
    border: 1px solid rgb(51, 51, 51);
    border-radius: 50%;
    float:left;
}

.chat-form{
    direction: rtl;
}

.chat-form-img{
    width:32px;
}

.chat-comments-div{
    padding:10px;
    margin-bottom:35px;
    direction: rtl;
}

/******* home about us*******/

.home-about-us-div-first{
    float:right;
}
.home-about-us-div-last{
    float:right;
}
  

/*home about us*/
.about-home-text{
    direction: rtl;
}
