/***** start breaking news *********/
* {
  box-sizing: border-box;
  /* background-color: #fff; */
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(49, 59, 61, 0.6);
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}

body {
  padding-bottom: 5rem;
}

h1,
h2,
p {
  padding: 0 5%;
}

  /****** end breaking news *********/

  /***** start main slider****/
  #slider{
    margin-top: -79px;
  }
  /***** end main slider****/


  /*start our team*/
.our-team{
    background: url(../images/main-slider/01.jpg) no-repeat center center fixed;
    width:100%;
    min-height: 600px;
}

.our-team .team{
    background: rgba(0,0,0,0.8);
    min-height: 600px;
    color: #fff;
    padding-top: 40px;
}

.our-team .person img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.our-team .person img:hover{
    -webkit-transform: scale(1.1,1.1) rotate(360deg);
    -moz-transform: scale(1.1,1.1) rotate(360deg);
    -o-transform: scale(1.1,1.1) rotate(360deg);
    transform: scale(1.1,1.1) rotate(360deg);
    border: 2px solid #dfdfdf;
}
.our-team .person  a { text-decoration: none; }

.our-team .team .person i:hover { color: #3272a9; font-size: 30px; cursor: pointer }
/*end our team*/

.titile:after {
  content: "";
  position: absolute;
  right: 27px;
  bottom: -4px;
  width: 51px;
  height: 3px;
}


/************ edits on 2/10  ************/

/*home page*/
/* breaking news in home page*/

.home-break-news{
  margin-top:82px;
  background: #313b3d;
  border-top: 1px solid #fff;
}

/* profile section in home page*/
.profile-info{
  min-height:0;padding:none;margin-bottom: 10px;
}

.home-profie-container{
  margin-bottom: 50px;
}

.home-profile-img{
  margin: 16.5px 0 20px 0;
  max-width: 100%;
  max-height: 100%;
}

.home-profile-span{
  color:#78ADC9;
}

.home-profile-head{
  background-color: #E8EBEE;
  height: 493px;
}

.home-profile-p{
  font-size: 16.5px;
}

.home-team-img{
  display: block;
  margin: 0;
  width: 100%;
}


/******* honor page *******/
.honor-main-div{
  margin-bottom: 50px;
  margin-top:95px
}
.honor-row-div{
  direction:rtl;background-color: #E8EBEE
}

.honor-main-img{
  margin: 20px 0 20px 0;min-width: 100%; min-height: 100%;
}

.honor-span-name{
  font-size:20px;color:#78ADC9;
}

.honor-btn{
  border-radius: 20px;
}

.honor-comment{
  margin: 0px 20px 0 20px;padding: 10px;border-radius: 20px;
}

.honor-reacts-div{
  padding:10px;margin-bottom:35px;background-color: #fafafa;border: 1px solid #e2e2e2;
}

.honor-main-reacts-div{
   border-top: 1px solid #999;
}

/*caht page*/
.chat-main-div{
  max-width:1400px;margin-top:80px;direction:rtl;
}
.chat-post-content-div{
  direction:rtl;
}

/* .float-direction{
  direction: rtl;
} */




