
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
  }
  .comment-testimonials .profile img{
    top:-60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid white;
  }
  
  .comment-testimonials .user{
    width: 120px;
    height: 120px;
    border-radius: 50%
  }
  .comment-testimonials .profile h3{
    font-size:20px;
    margin-top: 15px;
    color:#ff9800;
  }
  blockquote{
    font-size:16px;
    line-height: 30px;
  }
  