
/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);

/* body{
    font-family: 'Cairo', sans-serif;
} */

/* a,h1,h2,h3,h4,p{ font-family: 'Cairo', sans-serif;} */

body{
    transition: 0.6s linear;
}

a{
    text-decoration: nane;
}

.orange-main-color{
    /* color: #feb701; */
    color: #ffb606;
}
.white-color{
    color:#fff;
}

.font-Jomolhari{
    font-family: 'Jomolhari', serif;
}

.font-cairo{
    font-family: 'Cairo', sans-serif !important;

}


a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

.section-header-titles{
    font-size:1.5rem;
    margin-bottom: 0;
}

.title_area_span{
    display: inline-block;
    text-align: left;
    height: 2px;
    width: 50px;
    background: none repeat scroll 0 0 #ffb606;
    margin-bottom: 12px;
 } 
img{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

/* prevent user from drag or select images*/
.prevent-selection{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.prevent-drag{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}



/* .padding-columns{
    padding: 0 10%;
} */


/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
    font-family: 'Cairo', sans-serif;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 


/* start slider */ 

/* carousel control arrows*/
.carousel-control-next,
.carousel-control-prev{
    width: 4%;
}

.main-slider-div{
    height:570px
}

.slider-img{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    
}

/*search box css start here*/
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}



/* gates box*/



.head-text-slider{
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: -346px;
}

.head-text-slider .english-text{
    font-size: 70px;
    line-height: 74px;
    font-weight: 700;
    text-transform: uppercase;
}

.img{
    background: #313131;
    height: 117px;
    /* width:247px; */
    opacity: 0.9;
    margin-bottom: 6px; 
    transition: transform 0.9s ease;
}

.img:hover{
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.img:hover > img{
    filter: brightness(0.15);
}

.slider-gate-img{
    margin-top: 25px;
    margin-right: 7px;
    width: 28px;
}




.search-container{
    position: relative;
}

.search-form{
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: -164px;
}
.show-more{
    transition: transform 0.9s ease;
}

.show-more:hover{
    color: #feb701;
}

.show-more:hover .hover-padding{
    padding: 4px;
    
}

.slider-gates-shape{
    padding-right: 0;
    padding-left: 10;
}

.heading-title-gate{
    text-align: left; margin: 10px 0;color: #fff;font-size: 1.2rem;
}


/* right button*/

.customButton{
    z-index:1;
    display: block;
    /* width: 20px;
    height: 20px; */
    top : 405px;
    right : 0px;
    position: fixed;
    /* background-color: #000;
    border: 1px solid #000; */
    border-radius: 10px;
 }
 
 .right-top-buttons{
    opacity: 0.9;
    margin-bottom: 6px;
    height: 39px;
    width: 40px;
 }

 .right-top-img{
    width:100%;
    height:100%;
    margin-bottom: 5px;
    transition: transform .4s ease;
 }

 .right-top-img:hover{
     cursor: pointer;
    transform: scale(1.1);
 }

 .submit-btn{
    background-color: #ffb606;
    border-color: #ffb606;
    transition: transform .4s ease;
 }
 .submit-btn:hover{
   
    transform: scale(1.1);
 }

 .display-none{
     display: none;
 }
 
/*end gates box*/

/* end slider */ 

/* Banner Area */ 

.site-main .site-banner {
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 2rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

/* End Banner Area */ 



/* Start why us Area */ 

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
    
}



.site-main .brand-area .first-row .about-us-right{
    /* display: flex; */
    justify-content: center;
}  

.site-main .brand-area .first-row .about-us-right > .single-brand{
    /* border: 1px solid var(--border-color); commented in single image*/
    border: 1px solid #ffb606; 
    text-align: center;
    /* padding: 1.8rem 0rem; commented in single image*/
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 210px;
    height: 124px;

    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .about-us-right > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .about-us-right > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .about-us-right > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

.features-text{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}


/* End why us Area */ 


/* start honor board */

.cta-100 {
    margin-top: 100px;
    padding-left: 7%;
    padding-right: 7%;
    /* padding-top: 7%; */
  }
  .col-md-4{
      padding-bottom:20px;
  }
  
  .white {
    color: #fff !important;
  }
  .mt{float: left;margin-top: -34px;padding-top: 20px;}
  .mt-right{float: right;margin-top: -34px;padding-top: 20px;direction: rtl;}
  .bg-blue-ui {
    background-color: #feb701 !important;
  }
  figure img{width:300px;}
  
  #blogCarousel {
    padding-bottom: 100px;
  }
  
  .blog .carousel-indicators {
    left: 0;
    top: -50px;
    height: 50%;
  }
  
  
  /* The colour of the indicators */
  
  /*btn floating ++ control buttons+++*/

  .controls-top{
    float: right;
    margin-bottom: 12px;
  }

  .btn-floating{
    border: 2px solid rgba(0,0,0,.125);
    padding: 0 7px;
    color: rgba(2, 2, 2, 0.5);
  }

  .blog .carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 18px;
    height: 0px;
  }
  
  .blog .carousel-indicators .active {
    background: #feb701;
  }

  /* love heart */
  .fa-heart{
    font-weight: 400;
    color: #e64c3d;
  }

    .fa-heart:hover{
        font-weight: 900;
        cursor: pointer;
    }

    .liked{
		color: blue;
		font-weight: bold;
	}

  /* star*/
  .star-hover{
    font-weight: 400;
    color: #feb701;
    
  }

  .star-hover:hover{
      cursor: pointer;
    font-weight: 900;
  }

  
  .b1:hover ~ i{
    font-weight: 900;
  }
  
  .b2:hover ~ i{
    font-weight: 900;
  }
  
  .b3:hover ~ i{
    font-weight: 900;
  }
  
  .b4:hover ~ i{
    font-weight: 900;
  }
  
  .card{
      border: 2px solid rgba(0,0,0,.125);
  }
  
  .item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
  }
  
  .item-box-blog {
    border: 1px solid #666;
    text-align: center;
    z-index: 4;
    /* padding: 20px; */
  }
  
  .item-box-blog-image {
    position: relative;
  }
  
  .item-box-blog-image figure img {
    width: 100%;
    height: auto;
  }
  
  .item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 3px 12px;
    top: 166px;
    right: 123px;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  .item-box-number {
  background: #feb701;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 31px;
    margin: -21px 40% 10px;
    text-align: center;
  }
  
  .item-box-blog-date span {
    color: #000;
    display: block;
    text-align: center;
    line-height: 1.2;
  }
  
  .item-box-blog-date span.mon {
    font-size: 18px;
  }
  
  .item-box-blog-date span.day {
    font-size: 16px;
  }
  
  .item-box-blog-body {
    padding: 10px;
  }
  
  .item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
  }
  
  .item-box-blog-heading a {
      text-decoration: none;
  }
  
  .item-box-blog-data p {
    font-size: 19px;
    color:#535353;
    font-weight: normal;
    line-height: 1;
  }
  
  .item-box-blog-data p i {
    font-size: 12px;
  }
  
  .item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
  }
  
  .honor-desc{
    font-size: 19px;
    color: #555;
    font-weight: normal;
    line-height: 2;
    border-bottom: 1px solid #888;
  }
  

  .mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
  }
  
  .btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
  }
  
  .btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
  }

  
/* end honor board */


/*start our team section*/
.margin-bottom{
    margin-bottom: 8px;
}
.our-team-card{
    border: none;
}
.out-tema-name{
    margin: -22px -2% 10px;
    background: #ffb606;
    width: 100%;
    height: 24px;
}

.our-team-heading-name{
    color: #fff;
    font-size: 1rem;
}

.item-box-blog-data .out-team-title{
    color: #111111;
    line-height: 1;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

/*end our team section*/

/* start honor board area*/
/* start honor board area carousel*/
.carousel-inner.vv-3 .carousel-item.active,
.carousel-inner.vv-3 .carousel-item-next,
.carousel-inner.vv-3 .carousel-item-prev {
  display: flex;
  
   
}

.carousel-inner.vv-3 .carousel-item-right.active,
.carousel-inner.vv-3 .carousel-item-next {
  transform: translateX(33.33%);
}


.carousel-inner.vv-3 .carousel-item-left.active,
.carousel-inner.vv-3 .carousel-item-prev {
  transform: translateX(-33.333%);
}

.carousel-inner.vv-3 .carousel-item-right,
.carousel-inner.vv-3 .carousel-item-left {
  transform: translateX(0);
  transform: translateY(0);
} 

.our-team-carousel-inner.vv-3 .carousel-item.active
/* end honor board area*/

/* start our team area*/
.our-team-carousel-inner.vv-3 .carousel-item.active,
.our-team-carousel-inner.vv-3 .carousel-item-next,
.our-team-carousel-inner.vv-3 .carousel-item-prev {
  display: flex;
  
   
}

.our-team-carousel-inner.vv-3 .carousel-item-right.active,
.our-team-carousel-inner.vv-3 .carousel-item-next {
  transform: translateX(50%);
}


.our-team-carousel-inner.vv-3 .carousel-item-left.active,
.our-team-carousel-inner.vv-3 .carousel-item-prev {
  transform: translateX(-50%);
}

.our-team-carousel-inner.vv-3 .carousel-item-right,
.our-team-carousel-inner.vv-3 .carousel-item-left {
  transform: translateX(0);
  transform: translateY(0);
} 


/* end our team area*/



/*strat what students say about*/
.say-about-div{
    opacity: 0.9;
    margin-bottom: 6px; 
    transition: transform 0.9s ease;
    /* cursor: pointer; */
    /* box-shadow: var(--box-shadow); */
    /* transform: scale(1.1); */
    
}
/* 
.say-about-div:hover{
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
} */

.say-form{
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.say-about-div-img{
    padding: 1px;
}

.say-about-div:hover > img{
    filter: brightness(0.15);
}
.heading-title-say{
    text-align: left;font-size: 1rem;
}
.say-about-img{
    border: 2px solid #535353;
    border-radius: 5px;
}
.say-about-span{
    font-size: 0.8rem;
    margin-left: 1%;
}
#our-team{
    height:350px;
    overflow:hidden;
}
.our-team-comment-text{
    color: #111111;
}

#our-team::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  /* #our-team::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  } */
   
  /* Handle */
  #our-team::-webkit-scrollbar-thumb {
    background: #dedede; 
    border-radius: 10px;
    height:10px;
  }
  
  /* Handle on hover */
  #our-team::-webkit-scrollbar-thumb:hover {
    background: #ffb606; 
  }
  
/*end what students say about*/


/* Start About Area */ 

/********** section 1 **************/

.section-1 {
    padding: 20vmin 0vmin;
  }
  
  .section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
  }
  
  .section-1 .row .col-md-6 {
    position: relative;
  }
  
  .section-1 .row .col-md-6 .panel {
    position: absolute;
    top: -7.5vmin;
    left: -18vmin;
    background: url(../img/about-me/rect/rect.png);
    background-repeat: no-repeat;
    background-size: 95%;
    /* border-radius: 40%; */
    text-align: left;
    padding: 3vmin 3vmin 21vmin 3vmin;
    /* box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2); */
    font-family: var(--Rubik);
    z-index: -1;
    padding: 90px;
    
  }
  
  .section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    /* padding: 0.4em 0; */
    font-size: 2em;
    margin: 11px 0 0 80px;
  }
  
  .section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 80px;
  }
  /********** section 1 **************/



.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

.profile-about-img{
    border: 3px solid #ffb606;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    /* box-shadow: 10px 10px 30px 10px rgba(57, 56, 61, 0.205); */
}
.pofile-btn{
    padding: .5rem 1rem;
    position: absolute;
    bottom: -10px;
    right: 97px;
}
.pofile-btn:hover{
    color:#ffb606;
}


/* End About Area */ 


/* Start Brand Area */ 

.site-main .brand-area{
    padding: 1rem 20rem;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}  

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

/* End Brand Area */ 

/* Services Area */ 

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}



/* End Services Area */ 


/* Project Area */ 

.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */ 



/* About Me */ 
.about-me-background{
    
    /* background: url(../img/about-me/rect/rect.png) no-repeat 0% 50%; */
}

.site-main .about-area .container-fluid{
    /* border: 3px dotted #ffb606;
    border-radius: 225px; */
    /* z-index: -1; */
}

.site-main .about-area .about-title p{
    padding: 1rem 7rem;
    /*  */
}

.about-me-right-section{
    background: url(../img/about-me/rect/rect.png);
    background-repeat: no-repeat;
    background-size: 70%;
    padding: 70px;
    z-index: -1;
    position: absolute;
    right: 96px;
    top: 613px;
}

.pofile-btn{
    background: #000;
    color: #fff;
    margin: 0 48px;

    /*
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
    border: 2px solid #000;
    */
}


.site-main .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img{
    padding: 2rem;
}

.site-main .about-area .client .about-client{
    padding-top: 2rem;
}

.site-main .about-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .client .about-client p{
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}



/* End About Me */ 

/* Subscribe me */ 

.site-main .subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--roboto);
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}

/* End subscribe me */ 

/* start video-gallery page */

.video-gallery-img{
    box-shadow: 10px 10px 30px 10px rgba(57, 56, 61, 0.205);
    /* transform: scale(1.1); */
    border-radius: 5px;
    max-width: 100%;
    min-width: 100%;
}

.watch-video{
    position: relative;
    bottom: 75px;
    left: 18px;
    height: 100px;
    width: 96px;
    z-index: 988;
    font-size: .9rem;
    text-align: center;
    background: #ffb606;
    color: #000;
    border-radius: 8px;
    box-shadow: 10px 10px 30px 10px rgba(57, 56, 61, 0.205);
    transform: scale(1.1);
}
.watch-icon{
    width: 20px;height: 27px;
}

.watch-video-text{
    display: block;
    font-size: .8rem;
    font-weight: 600;
}

.cv-right-icon-img{
    width: 14px;
}
.heading-title-text{
    font-size: .9rem;
}
/* end video-gallery page */ 


/* start profile page */ 
.profile-page{
    /* box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.4) */
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}



.circle-before:before{
    content: "";
    border: solid 2px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    font-size: 8px;
    margin-left: -21px;
    margin-top: -10px;
    font-weight: 400;
    background: #fff;
    display: block;
    position: absolute;
}

/*skills section*/
.skill-single-before:before{
    content: "";
    border: solid 2px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    font-size: 8px;
    margin-left: -21px;
    margin-top: 4px;
    font-weight: 400;
    background: #000;
    display: block;
    position: absolute;
}


/* end profile page */ 


/* start enroll course page */ 
.enroll-course-btn{
    height: 40px;
    font-size: .9rem;
    text-align: center;
    background: #111;
    color: #e6e6e6;
    border-radius: 50px;
    box-shadow: 10px 10px 30px 10px rgba(57, 56, 61, 0.205);
    transform: scale(1.5);
    min-width: 65%;
}
.closed-btn:hover{
    color:#ffb606;
}
.btn-active{
    background: #ffb606;
}

.closed-now-text{
    display: block;
    font-size: .5rem;
}
.btn-margin{
    margin: 50px 0;
}
.radio-input{
    margin: 7px;
}

.p-header-titles{
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 600;
}

/*upload image*/


  .btn-file {
    position: absolute;
    overflow: hidden;
    top: -27%;
    left: 40%;
    cursor: pointer;
    font-weight: 500;
    color: #0a0a0a;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%; 
    min-height: 100%;
    /* font-size: 100px; */
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    /* outline: none; */
    background: #000;
    cursor: inherit;
    display: block;
}
.upload-photo{
    width: 100px;
    height: 100px;
    background: #ffb606;
    border-radius: 50%;
    display: block;
}

/* .upload-photo-icon{
    margin: 38% auto;
} */

/*upload image*/

/*btn radio*/
.btn-radio {
    cursor: pointer;
    display: inline-block;
    float: left;
    -webkit-user-select: none;
    user-select: none;
  }
  .btn-radio:not(:first-child) {
    margin-left: 20px;
  }
  @media screen and (max-width: 480px) {
    .btn-radio {
      display: block;
      float: none;
    }
    .btn-radio:not(:first-child) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
  .btn-radio svg {
    fill: none;
    vertical-align: middle;
  }
  .btn-radio svg circle {
    stroke-width: 2;
    stroke: #C8CCD4;
  }
  .btn-radio svg path {
    stroke: #ffb606 ;
  }
  .btn-radio svg path.inner {
    stroke-width: 6;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
  }
  .btn-radio svg path.outer {
    stroke-width: 2;
    stroke-dasharray: 57;
    stroke-dashoffset: 57;
  }
  .btn-radio input {
    display: none;
  }
  .btn-radio input:checked + svg path {
    transition: all 0.4s ease;
  }
  .btn-radio input:checked + svg path.inner {
    stroke-dashoffset: 38;
    transition-delay: 0.3s;
  }
  .btn-radio input:checked + svg path.outer {
    stroke-dashoffset: 0;
  }
  .btn-radio span {
    display: inline-block;
    vertical-align: middle;
  }

/*btn radio*/

/* sign-in-btn */
.sign-in-btn{
    border-radius: 40px;
    font-weight: 600;
}
/* sign-in-btn */
/* input-text */
.input-text{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #495057;
    padding: 4px;
    padding-top: 25px;
    padding-bottom: 26px;
}
.select-options{
    border: none;
    border-bottom: 1px solid #555;
    border-radius: 0;
    padding: 0px;
}
/* input-text */




/* end enroll course page */ 



/* Footer Area */ 

/* footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
} */


/* End Footer */ 







