<div class="col-xl-8 col-lg-12 col-md-12">
                        <div class="first-row row">
                            <div class="row">
                                <div class="about-us-right col-lg-6 col-md-6 col-sm-6">
                                    
                                        <img class="prevent-selection prevent-drag single-brand" src="{{url('assets/img/why-us/best_techniques/best_techniques.png')}}" alt="best techniques img">
                                        <!-- <img src="{{asset('storage/'.$feature->image_1)}}" alt="Brand-1 "> -->
                                   
                                    <p class="features-text text-center">{{$feature->title_1_en}}</p>
                                </div>
                                <div class="about-us-right col-lg-6 col-md-6 col-sm-6">
                                    <!-- <div class="single-brand">
                                        <img src="{{asset('storage/'.$feature->image_2)}}" alt="Brand-2 ">
                                    </div> -->
                                    <img class="prevent-selection prevent-drag single-brand" src="{{url('assets/img/why-us/best_teacher/best_teacher.png')}}" alt="Best Teacher img">
                                    <p class="features-text text-center">{{$feature->title_2_en}}</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="about-us-right col-lg-6 col-md-6 col-sm-6">
                                <img class="prevent-selection prevent-drag single-brand" src="{{url('assets/img/why-us/summer_courses/summer_courses.png')}}" alt="Best Courses img">
                                    <p class="features-text text-center">{{$feature->title_3_en}}</p>
                                </div>
                                <div class="about-us-right col-lg-6 col-md-6 col-sm-6">
                                <img class="prevent-selection prevent-drag single-brand" src="{{url('assets/img/why-us/support_students/support_students.png')}}" alt="Support students img">
                                    <p class="features-text text-center">{{$feature->title_4_en}}</p>
                                </div>
                            </div>
                        </div>
                    </div>


.site-main .brand-area .first-row .about-us-right > .single-brand{
    /* border: 1px solid var(--border-color); commented in single image*/
    
    text-align: center;
    /* padding: 1.8rem 0rem; commented in single image*/
   
    margin: .9rem 0;
    width: 210px;
    height: 124px;

    cursor: pointer;
    transition: transform .4s ease;
}