@charset "UTF-8";

$backgroundcolorcv:#fff;								/*لون خلفية السيفي*/

$backgroundcolorbackimg:#f3c3d1;						/*لون خلفية الاطار الذي على الصورة الشخصية*/

$backgroundcolorfrontimg:#fff;							/*لون خلفية قاعدة الصورة في حال لم تكن موجودة*/

$backgroundcolorsection01:#c5adc7;						/*لون خلفية القسم الاول من الهيدر من اليسار*/

$backgroundcolorsection02:#ebb3be;						/*لون خلفية القسم الثاني من الهيدر من اليسار*/

$backgroundcolorsection03:#fad6b6;						/*لون خلفية القسم الثالث من الهيدر من اليسار*/

$backgroundcolorsection04:#c1e2eb;						/*لون خلفية القسم الرابع من الهيدر من اليسار*/

$backgroundcolorskillsandlang:#cfcdce;					/*اللون الخلفي لـ مستطيل المهارات و نجوم اللغات*/

$firstfontcolor:#7cc0c9;								/*لون الخطوط الاول*/

$secondfontcolor:#5f5f5f;								/*لون الخطوط الثاني*/

/**************************************************/

$titlesfontfamily:'Grand Hotel', cursive;				/*التحكم بـ نوع الخطوط لـ العناوين*/

$textsfontfamily:'Khula', sans-serif;					/*التحكم بـ نوع الخطوط للنصوص*/

$paddingsection:15px 27px 11px 26px;					/*التحكم بـ بادينغ الاقسام عند زيادة الاحرف*/

$marginrightsection:14px;								/*التحكم بـ مارجن الاقسام عند زيادة الاحرف*/

/**************************************************/

$myimage:url("");										/*التحكم بـ الصورة الشخصية الخاصة بك*/

$listimage:url("../images/list.png");					/*التحكم بـ الصورة الخاصة بـ القوائم*/

/**************************************************/

$showorhideskill01:list-item;						/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/

$showorhideskill02:list-item;						/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/

$showorhideskill03:list-item;						/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/

$showorhideskill04:list-item;						/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/

$showorhideskill05:list-item;						/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/

$showorhideskill06:list-item;						/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/

$showorhideskill07:none;							/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/

$showorhideskill08:none;							/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/

$showorhideskill09:none;							/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/

$showorhideskill10:none;							/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/

$showorhideskill11:none;							/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/

$showorhideskill12:none;							/*التحكم بـ اظهار او اخفاء المهارات - المهارات مرقمة بالترتيب*/

/**************************************************/

$widthskill01:95%;										/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/

$widthskill02:85%;										/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/

$widthskill03:14%;										/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/

$widthskill04:70%;										/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/

$widthskill05:40%;										/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/

$widthskill06:4%;										/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/

$widthskill07:0%;										/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/

$widthskill08:0%;										/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/

$widthskill09:0%;										/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/

$widthskill10:0%;										/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/

$widthskill11:0%;										/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/

$widthskill12:0%;										/*التحكم امتلاء مستطيل المهارات - المهارات مرقمة بالترتيب*/

body
{
	padding:0;margin:0;
	background-color:#c1e2eb;
}
*
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#backcolor
{
	color:$backgroundcolorskillsandlang
}

.responsive
{
	width:660px;
	margin:0 auto;
}

/*قاعدة السيفي*/

.cv-base
{
	width:800px;
	height:925px;
	margin:20px auto;
	background-color:$backgroundcolorcv;
	-webkit-box-shadow:0 0 12px -4px #000;
	-moz-box-shadow:0 0 12px -4px #000;
	box-shadow:0 0 12px -4px #000;
	position:relative;
	overflow:hidden;
}

/*هيدر السيفي*/

.cv-base header
{
	width:100%;
	padding:32px 0 25px 0;
	background-color:transparent;
	overflow:hidden;
}

/*الجزء العلوي من الهيدر و الذي يتضمن الصورة و الاسم و النبذة*/

.cv-base header .head-top
{
	width:100%;
	margin-bottom:20px;
	background-color:transparent;
	overflow:hidden;
}

/*الصورة الشخصية*/

.cv-base header .head-top .image-left
{
	float:left;
	width:160px;
	height:160px;
	margin-right:20px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background-color:$backgroundcolorbackimg;
	position:relative;
	overflow:hidden;
}
.cv-base header .head-top .image-left .this-image
{
	width:140px;
	height:140px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background-color:$backgroundcolorfrontimg;
	background-image:$myimage;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	position:absolute;
	top:10px;left:10px;
}

/*نهاية الصورة الشخصية*/

/**************************************************/

/*الاسم و النبذة*/

.cv-base header .head-top .words-right
{
	float:right;width:479px;
	background-color:transparent;
	overflow:hidden;
}
.cv-base header .head-top .words-right h3
{
	padding:24px 0 0 0;margin:0;
	text-transform:capitalize;
	font-family:$titlesfontfamily;
	font-size:29px;
	color:$firstfontcolor;
}
.cv-base header .head-top .words-right p
{
	color:$secondfontcolor
}
.cv-base header .head-top .words-right p:first-of-type
{
	width:431px;
	padding:0 0 4px 0;
	margin:1px 0 7px 0;
	border-bottom:2px solid $backgroundcolorbackimg;
	text-transform:uppercase;
	font-family:$textsfontfamily;
	font-size:15px;
}
.cv-base header .head-top .words-right p:last-of-type
{
	height:69px;
	padding:0 10px 0 0;
	margin:0 0 0 0;
	overflow:hidden;
	line-height:23px;
	font-family:$textsfontfamily;
	font-size:14px;
}

/*نهاية الاسم و النبذة*/

/*نهاية الجزء العلوي من الهيدر و الذي يتضمن الصورة و الاسم و النبذة*/

/**********************************************************************/

/*الجزء السفلي من الهيدر و الذي يتضمن وسائل التواص*/

.cv-base header nav
{
	width:100%;
	background-color:transparent;
	overflow:hidden;
}
.cv-base header nav ul
{
	padding:0;margin:0;
	list-style-type:none;
}
.cv-base header nav ul li
{
	float:left;
	padding:$paddingsection;
	margin-right:$marginrightsection;
	position:relative;
}

/*تنسيقات الاسهم اليمينة و اليسارية*/

.cv-base header nav ul li:before, ul li:after
{
	content:"";
	width:0;height:0;
	border:0 solid transparent;
	border-width:23px 10px;
	position:absolute;
	
}
.cv-base header nav ul #head-color01:before
{
	border:0;
}
.cv-base header nav ul li:before
{
	top:0px;left:-9px;
	
}
.cv-base header nav ul li:after
{
	top:0px;left:100%;
	
}

/*نهاية تنسيقات الاسهم اليمينة و اليسارية*/

/**************************************************/

/*الايقونات و المعلومات*/

.cv-base header nav ul li i
{
	float:left;
	padding-right:7px;
	font-size:18px;
	color:white;
}
.cv-base header nav ul li p
{
	float:left;
	padding:3px 0 0 0;margin:0;
	text-transform:capitalize;
	font-family:$textsfontfamily;
	font-weight:700;
	font-size:14px;
	color:white;
}

/*نهاية الايقونات و المعلومات*/

/**************************************************/

/*التحكم بـ الوان خلفيات المعلومات*/

.cv-base header nav ul #head-color01
{
	background-color:$backgroundcolorsection01;
}
.cv-base header nav ul #head-color02
{
	background-color:$backgroundcolorsection02;
}
.cv-base header nav ul #head-color03
{
	background-color:$backgroundcolorsection03;
}
.cv-base header nav ul #head-color04
{
	background-color:$backgroundcolorsection04;
}

/*نهاية التحكم بـ الوان خلفيات المعلومات*/

/**************************************************/

/*التحكم بـ الوان الاسهم اليمينة*/

.cv-base header nav ul #head-color02:before
{
	border-top-color:$backgroundcolorsection02;
	border-right-color:$backgroundcolorsection02;
	border-bottom-color:$backgroundcolorsection02;
	border-left-color:transparent;
}
.cv-base header nav ul #head-color03:before
{
	border-top-color:$backgroundcolorsection03;
	border-right-color:$backgroundcolorsection03;
	border-bottom-color:$backgroundcolorsection03;
	border-left-color:transparent;
}
.cv-base header nav ul #head-color04:before
{
	border-top-color:$backgroundcolorsection04;
	border-right-color:$backgroundcolorsection04;
	border-bottom-color:$backgroundcolorsection04;
	border-left-color:transparent;
}

/*نهاية التحكم بـ الوان الاسهم اليمينة*/

/**************************************************/

/*التحكم بـ الوان الاسهم اليسارية*/

.cv-base header nav ul #head-color01:after
{
	border-left-color:$backgroundcolorsection01;
}
.cv-base header nav ul #head-color02:after
{
	border-left-color:$backgroundcolorsection02;
}
.cv-base header nav ul #head-color03:after
{
	border-left-color:$backgroundcolorsection03;
}
.cv-base header nav ul #head-color04:after
{
	border-left-color:$backgroundcolorsection04;
}

/*نهاية التحكم بـ الوان الاسهم اليسارية*/

/*نهاية الجزء السفلي من الهيدر و الذي يتضمن وسائل التواص*/

/*نهاية هيدر السيفي*/

/**************************************************************************************************/

/*مجسم السيفي*/

.cv-base section
{
	width:100%;height:100%;
	background-color:transparent;
	overflow:hidden;
}

/*الجانب الايسر و الذي يتضمن نبذة و لغات محكية و هوايات*/

.cv-base section aside
{
	float:left;
	width:50%;height:100%;
	background-color:transparent;
	overflow:hidden;
}

/*تنسيقات متكررة للاقسام الثلاثة*/

/**************************************************/

/*تنسيق قاعدة الاقسام الثلاثة*/

.cv-base section aside .aside-parts
{
	width:100%;
	padding-right:17px;
	margin-bottom:10px;
	background-color:transparent;
	overflow:hidden;
}

/*نهاية تنسيق قاعدة الاقسام الثلاثة*/

/**************************************************/

/*تنسيق عنوان الاقسام الثلاثة*/

.cv-base section aside .aside-parts h3
{
	width:192px;
	padding:0 0 8px 0;margin:0;
	text-transform:capitalize;
	font-family:$titlesfontfamily;
	font-weight:700;
	font-size:29px;
	color:$firstfontcolor;
}

/*نهاية تنسيق عنوان الاقسام الثلاثة*/

/**************************************************/

/*تنسيقات القوائم*/

.cv-base section aside .aside-parts ul
{
	padding:0 0 0 21px;
	margin:0 0 0 0;
	list-style-image:$listimage
}
.cv-base section aside .aside-parts ul li
{
	width:100%;
	padding-bottom:1px;
}
.cv-base section aside .aside-parts ul li p
{
	padding:0;margin:0;
	font-family:$textsfontfamily;
	font-size:14px;
	color:$secondfontcolor;
}

/*تنسيقات للنصوص متعلقة بـ قسم اللغات و الهوايات*/

.cv-base section aside .aside-parts ul li .words
{
	float:left;
	width:60px;
	height:20px;
	padding-top:2px;
	background-color:transparent;
	overflow:hidden;	
}
.cv-base section aside .aside-parts ul li .words p
{
	text-transform:capitalize;
}

/*نهاية تنسيقات للنصوص متعلقة بـ قسم اللغات و الهوايات*/

/*********************************/

/*تنسيقات النجوم الستة*/

.cv-base section aside .aside-parts ul li .icons
{
	float:right;
	width:219px;
	height:20px;
	padding-top:3px;
	background-color:transparent;
	overflow:hidden;
}
.cv-base section aside .aside-parts ul li .icons i
{
	float:left;
	margin-right:6px;
	font-size:13px;
	color:$backgroundcolorskillsandlang;	
}
.cv-base section aside .aside-parts ul li .icons i:last-child
{
	margin-right:0;
}

/*نهاية تنسيقات النجوم الستة*/

/*نهاية تنسيقات القوائم*/

/*نهاية تنسيقات متكررة للاقسام الثلاثة*/

/**************************************************/

/*القسم الاول = نبذة تفصيلية*/

.cv-base section aside #part01 p
{
	width:100%;
	height:266px;
	font-size:14px;
}
.cv-base section aside #part01 ul
{
	width:100%;
	height:268px;
}

/*نهاية القسم الاول = نبذة تفصيلية*/

/**************************************************/

/*القسم الثاني = اللغات المحكية*/

.cv-base section aside #part02 h3
{
	padding-bottom:15px;
}
.cv-base section aside #part02 p
{
	font-size:15px;
}
.cv-base section aside #part02 ul
{
	width:100%;
	height:97px;
}
.cv-base section aside #part02 ul li
{
	padding-bottom:15px;
}

/*نهاية القسم الثاني = اللغات المحكية*/

/**************************************************/

/*القسم الثالث = الهوايات*/

.cv-base section aside #part03
{
	border-bottom:0;
}
.cv-base section aside #part03 h3
{
	padding-bottom:8px;
}
.cv-base section aside #part03 p
{
	font-size:15px;
}
.cv-base section aside #part03 ul
{
	width:100%;
	height:51px;
}
.cv-base section aside #part03 ul li
{
	width:auto;
	float:left;
	padding:0 13px 0 0;
}

/*نهاية القسم الثالث = الهوايات*/

/*نهاية الجانب الايسر و الذي يتضمن نبذة و لغات محكية و هوايات*/

/**********************************************************************/

/*الجانب الايمن و الذي يتضمن المهارات و التعليم و التجربة*/

.cv-base section article
{
	float:right;
	width:50%;height:100%;
	background-color:transparent;
	overflow:hidden;
}

/*تنسيقات متكررة لـ الاقسام ادناه*/

/*تنسيقات قواعد الاقسام*/

.cv-base section article .article-parts
{
	width:100%;
	height:296px;
	padding:0 0 20px 56px;
	margin-bottom:13px;
	background-color:transparent;
	overflow:hidden;
}

/*نهاية تنسيقات قواعد الاقسام*/

/**************************************************/

/*تنسيقات عناوين الاقسام*/

.cv-base section article .article-parts h3
{
	padding:0 0 9px 0;margin:0;
	text-transform:capitalize;
	font-family:$titlesfontfamily;
	font-weight:700;
	font-size:29px;
	color:$firstfontcolor;	
}

/*نهاية تنسيقات عناوين الاقسام*/

/**************************************************/

/*تنسيقات القوائم*/

.cv-base section article .article-parts ul
{
	width:100%;height:251px;
	padding:0 12px 0 21px;margin:0;
	list-style-image:$listimage;	
	overflow:hidden;
}
.cv-base section article .article-parts ul li
{
	width:100%;
	padding-bottom:9px;	
}
.cv-base section article .article-parts ul p
{
	padding:0;margin:0;
	text-transform:capitalize;
	font-family:$textsfontfamily;
	font-size:15px;
	color:$secondfontcolor;	
}

/*تنسيقات مستوى اتقانك لـ المهارات*/

.cv-base section article .article-parts ul .lines
{
	width:100%;
	height:15px;
	margin-top:10px;
	display:block;
	background-color:$backgroundcolorskillsandlang;
	overflow:hidden;
	
}
.cv-base section article .article-parts ul .lines .lines-fall
{
	width:10%;height:100%;
	background-color:#ebb3be;
}

/*نهاية تنسيقات مستوى اتقانك لـ المهارات*/

/*نهاية تنسيقات القوائم*/

/*نهاية تنسيقات متكررة لـ الاقسام ادناه*/

/**************************************************/

/*القسم الاول = المهارات*/

/*التحكم بـ اظهار المهارات*/

.cv-base section article #article01 #ulscrolls #shskill01
{
	display:$showorhideskill01
}
.cv-base section article #article01 #ulscrolls #shskill02
{
	display:$showorhideskill02
}
.cv-base section article #article01 #ulscrolls #shskill03
{
	display:$showorhideskill03
}
.cv-base section article #article01 #ulscrolls #shskill04
{
	display:$showorhideskill04
}
.cv-base section article #article01 #ulscrolls #shskill05
{
	display:$showorhideskill05
}
.cv-base section article #article01 #ulscrolls #shskill06
{
	display:$showorhideskill06
}
.cv-base section article #article01 #ulscrolls #shskill07
{
	display:$showorhideskill07
}
.cv-base section article #article01 #ulscrolls #shskill08
{
	display:$showorhideskill08
}
.cv-base section article #article01 #ulscrolls #shskill09
{
	display:$showorhideskill09
}
.cv-base section article #article01 #ulscrolls #shskill10
{
	display:$showorhideskill10
}
.cv-base section article #article01 #ulscrolls #shskill11
{
	display:$showorhideskill11
}
.cv-base section article #article01 #ulscrolls #shskill12
{
	display:$showorhideskill12
}

/*نهاية التحكم بـ اظهار المهارات*/

/*********************************/

/*التحكم بـ قيم امتلاء المستطيلات*/

.cv-base section article #article01 ul li #skill01
{
	width:$widthskill01;
	background-color:$backgroundcolorsection01
}
.cv-base section article #article01 ul li #skill02
{
	width:$widthskill02;
	background-color:$backgroundcolorsection02
}
.cv-base section article #article01 ul li #skill03
{
	width:$widthskill03;
	background-color:$backgroundcolorsection03
}
.cv-base section article #article01 ul li #skill04
{
	width:$widthskill04;
	background-color:$backgroundcolorsection04
}
.cv-base section article #article01 ul li #skill05
{
	width:$widthskill05;
	background-color:$backgroundcolorsection01
}
.cv-base section article #article01 ul li #skill06
{
	width:$widthskill06;
	background-color:$backgroundcolorsection02
}
.cv-base section article #article01 ul li #skill07
{
	width:$widthskill07;
	background-color:$backgroundcolorsection03
}
.cv-base section article #article01 ul li #skill08
{
	width:$widthskill08;
	background-color:$backgroundcolorsection04
}
.cv-base section article #article01 ul li #skill09
{
	width:$widthskill09;
	background-color:$backgroundcolorsection01
}
.cv-base section article #article01 ul li #skill10
{
	width:$widthskill10;
	background-color:$backgroundcolorsection02
}
.cv-base section article #article01 ul li #skill11
{
	width:$widthskill11;
	background-color:$backgroundcolorsection03
}
.cv-base section article #article01 ul li #skill12
{
	width:$widthskill12;
	background-color:$backgroundcolorsection04
}

/*نهاية التحكم بـ قيم امتلاء المستطيلات*/

/*نهاية القسم الاول = المهارات*/

/**************************************************/

/*القسم الثاني = التعليم*/

.cv-base section article #article02
{
	height:309px;
}
.cv-base section article #article02 ul
{
	padding:0;margin:0;
	list-style-image:none;
	list-style-type:none;
}
.cv-base section article #article02 ul li h3
{
	padding-bottom:4px;
	font-family:'Khula', sans-serif;
	font-weight:700;
	font-size:16px;
}
.cv-base section article #article02 ul li p:first-of-type
{
	padding-bottom:4px;
	font-size:14px;
}
.cv-base section article #article02 ul li p:last-of-type
{
	line-height:22px;
	font-size:14px;
}

/*نهاية القسم الثاني = التعليم*/

/*نهاية الجانب الايمن و الذي يتضمن المهارات و التعليم و التجربة*/

/*نهاية مجسم السيفي*/

/*نهاية قاعدة السيفي*/